@import '../../node_modules/pikaday/css/pikaday.css';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #ffffff;
  font-family: Nunito Sans, Roboto, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

ul {
  list-style: none;
  padding: 0px;
}

.section {
  width: 100%;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

.main-title {
  color: black;
  margin: 40px 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1270px) {
  .container {
    max-width: 1270px;
  }
}

.btn, .secondary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 240px;
  max-height: 48px;
  padding: 14px 72px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Nunito Sans;
  font-weight: 700;
  white-space: nowrap;
  border: none;
  border-radius: 8px;
  background-color: #ffb539;
  color: #0b221c;
  box-shadow: 7px 7px 6px 0px rgba(98, 90, 20, 0.25);
  transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .btn, .secondary-btn {
    max-width: 283px;
  }
}
.btn:hover, .secondary-btn:hover, .btn:focus, .secondary-btn:focus {
  background-color: #f7a71c;
}

.secondary-btn {
  background-color: #6bbc60;
  color: #ffffff;
}
.secondary-btn:hover, .secondary-btn:focus {
  background-color: #5ca652;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 32px;
}

.breadcrumbs__item .breadcrumbs__link {
  color: #6bbc60;
}

.breadcrumbs__item:last-child {
  color: #0b221c;
}

.breadcrumbs__item .breadcrumbs__link,
.breadcrumbs__item:last-child {
  font-size: 16px;
  font-weight: 600;
  line-height: 135%;
  padding: 8px 0;
}

.breadcrumbs__link::after {
  content: " /";
  display: inline-block;
  padding: 0 4px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #f4fff6;
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header > .container {
    justify-content: center;
  }
}

.mob-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 15px;
  background-color: #f4fff6;
}
.mob-menu.is-hidden {
  display: none;
}

.mob-menu-closeBtn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: inherit;
  border: none;
}

.icon-close {
  fill: #0b221c;
  opacity: 0.8;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-closeBtn:hover .icon-close,
.mob-menu-closeBtn:focus .icon-close {
  fill: #5ca652;
  opacity: 1;
}

.mob-menu_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.mob-menu_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  scale: 1;
  transition: scale 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu_item:hover, .mob-menu_item:focus {
  scale: 1.1;
}

.mob-menu_item::after {
  content: ".";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-top: 8px;
  border-radius: 50%;
  background-color: #0b221c;
  opacity: 0.8;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu_item:hover::after,
.mob-menu_item:focus::after {
  background-color: #5ca652;
  opacity: 1;
}

.mob-menu_item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-link {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #0b221c;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu_item:hover .mob-menu-link,
.mob-menu_item:focus .mob-menu-link {
  color: #5ca652;
}

.nav {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

.nav-list {
  display: flex;
}

.logo-img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .logo-img {
    width: 68px;
    height: 60px;
  }
}

.nav-item + .nav-item {
  margin-left: 24px;
}
@media screen and (min-width: 1200px) {
  .nav-item + .nav-item {
    margin-left: 48px;
  }
}

.nav-item {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
}

.nav-link {
  color: #0b221c;
  font-size: 14px;
  font-weight: 600;
  font-family: Nunito Sans;
}
@media screen and (min-width: 1200px) {
  .nav-link {
    font-size: 16px;
  }
}

.nav-link::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: #6bbc60;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover .nav-link::after,
.nav-item:focus .nav-link::after {
  transform: scaleX(1);
}

.phone-box {
  display: none;
}
@media screen and (min-width: 768px) {
  .phone-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .phone-box {
    margin-left: 60px;
  }
}

.callback-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 28px;
  margin-bottom: 12px;
  border-radius: 4px;
  background-color: #0b221c;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  color: #ffffff;
  font-size: 10px;
  font-family: Nunito Sans;
  font-weight: 700;
  border: none;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .callback-btn {
    width: 180px;
  }
}
.callback-btn:hover, .callback-btn:focus {
  background-color: #6bbc60;
}

.phone-box > .phone-link {
  color: #0b221c;
  fill: #0b221c;
  font-size: 12px;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .phone-box > .phone-link {
    font-size: 14px;
  }
}
.phone-box > .phone-link:hover, .phone-box > .phone-link:focus {
  color: #6bbc60;
  fill: #6bbc60;
}

.mob-menu-phone-link {
  color: #0b221c;
  font-size: 16px;
  margin: 0 auto;
}

.mob-menu__telbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mob-menu__telbox > .callback-btn {
  width: 180px;
  padding: 16px;
  font-size: 12px;
  margin-bottom: 16px;
}

.nav-menu-btn {
  background-color: inherit;
  border: none;
}
@media screen and (min-width: 768px) {
  .nav-menu-btn {
    display: none;
  }
}

.menu {
  fill: #0b221c;
  opacity: 0.5;
  scale: 1;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-btn:hover .menu {
  fill: #5ca652;
  opacity: 1;
  scale: 1.02;
}

.hero {
  width: 100%;
  padding-top: 32px;
  background-image: url("../images/hero/bg.png"), linear-gradient(180deg, #6bbc60 0%, #56a04c 44.6%, #55a04a 61.84%, #6bbc60 100%);
  background-repeat: no-repeat;
  background-position: center;
}

.hero > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .hero > .container {
    position: relative;
    display: block;
    align-items: normal;
    padding-top: 80px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .hero > .container {
    padding-top: 128px;
    padding-bottom: 166px;
  }
}

.hero-content-box {
  max-width: 307px;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .hero-content-box {
    position: relative;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero-content-box {
    max-width: 450px;
  }
}

.hero-text {
  text-shadow: 3px 3px 6px 0px rgba(21, 20, 8, 0.25);
  font-size: 18px;
  font-family: Nunito Sans;
  margin-bottom: 36px;
}
@media screen and (min-width: 1200px) {
  .hero-text {
    font-size: 20px;
  }
}

.title {
  font-size: 32px;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Nunito Sans;
  font-weight: 800;
  margin-bottom: 28px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 48px;
    max-width: 300px;
  }
}

.hero-img {
  width: 360px;
}
@media screen and (min-width: 768px) {
  .hero-img {
    position: absolute;
    right: 1%;
    bottom: 0;
    width: 470px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-img {
    width: 630px;
  }
}

.subtitle {
  margin-bottom: 32px;
  color: #0b221c;
  font-size: 28px;
  text-align: center;
  font-family: Nunito Sans;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .subtitle {
    margin-bottom: 64px;
    font-size: 40px;
  }
}

.courses {
  padding-top: 36px;
  padding-bottom: 72px;
  width: 100%;
  background-image: url("../images/courses/courses-bg.png");
  background-repeat: no-repeat;
  background-position: bottom 0 left 0, bottom left;
}
@media screen and (min-width: 768px) {
  .courses {
    padding-top: 48px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .courses {
    padding-top: 80px;
    padding-bottom: 174px;
    margin-bottom: -40px;
  }
}

.courses > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.courses-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}
@media screen and (min-width: 768px) {
  .courses-list {
    justify-content: space-between;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .courses-list {
    justify-content: space-between;
  }
}

.courses-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .courses-item {
    flex-basis: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .courses-item {
    flex-basis: calc((100% - 60px) / 4);
  }
}

@media screen and (min-width: 768px) {
  .courses-item:nth-child(n+3) {
    margin-top: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .courses-item:nth-child(n+3) {
    margin-top: 0;
  }
}

.courses-circle {
  border-radius: 50%;
  background-color: #6bbc60;
  width: 222px;
  height: 222px;
  position: relative;
}

.courses-category {
  position: absolute;
  left: 0;
  bottom: -16px;
  width: 100%;
  color: #0b221c;
  background-color: #f4fff6;
  text-align: center;
  padding: 8px 0;
  border-radius: 6px;
  box-shadow: 2px 5px 11px 0px rgba(153, 175, 153, 0.25);
  color: #0b221c;
  font-size: 24px;
  font-family: Nunito Sans;
}

.about {
  padding-bottom: 80px;
  background-image: url("../images/about/about-bg.png");
  background-repeat: no-repeat;
  background-position: top 0 right 0, top right;
}
@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 160px;
  }
}

.about > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about > .container {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .about > .container {
    align-items: none;
  }
}

.about > .subtitle {
  text-align: center;
}

.block-title {
  margin-bottom: 32px;
  color: #0b221c;
  font-size: 32px;
  font-family: Nunito Sans;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .block-title {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}

.about-text {
  color: #0b221c;
  font-size: 20px;
  font-family: Nunito Sans;
}

.about-text + .about-text {
  margin-top: 22px;
  margin-bottom: 32px;
}

.img-description {
  color: #0b221c;
  font-size: 24px;
  font-family: Nunito Sans;
  font-weight: 600;
}
@media screen and (min-width: 1200px) {
  .img-description {
    font-size: 32px;
  }
}

@media screen and (min-width: 768px) {
  .img-description > span {
    font-size: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .img-description > span {
    font-size: 64px;
  }
}

.about-img-box {
  position: relative;
}

.about-img-box > .first {
  display: none;
}
@media screen and (min-width: 480px) {
  .about-img-box > .first {
    position: absolute;
    display: inline;
    bottom: 24%;
    right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .about-img-box > .first {
    right: -16px;
  }
}
@media screen and (min-width: 1200px) {
  .about-img-box > .first {
    bottom: 18%;
    right: -64px;
  }
}

.about-img-box > .second {
  display: none;
}
@media screen and (min-width: 480px) {
  .about-img-box > .second {
    position: absolute;
    display: inline;
    bottom: -20px;
    left: 32%;
  }
}
@media screen and (min-width: 768px) {
  .about-img-box > .second {
    bottom: -32px;
  }
}
@media screen and (min-width: 1200px) {
  .about-img-box > .second {
    bottom: -60px;
  }
}

.post-about {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background-image: linear-gradient(180deg, #6bbc60 0%, #56a04c 44.6%, #55a04a 61.84%, #6bbc60 100%);
}

.post-about > .container {
  display: flex;
}

.post-about-list {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .post-about-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .post-about-list {
    width: 100%;
    gap: 129px;
    flex-wrap: nowrap;
  }
}

.post-about-item {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .post-about-item {
    flex-basis: calc((100% - 32px) / 2);
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .post-about-item {
    width: auto;
    flex-basis: calc((100% - 387px) / 4);
  }
}

.post-about-item + .post-about-item {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .post-about-item + .post-about-item {
    margin-top: 0;
  }
}

.post-about-img {
  margin-bottom: 18px;
}

.postabout-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .postabout-text {
    font-size: 23px;
  }
}

.certificate-reviews {
  position: relative;
  background-image: url("../images/certificate/certificate-bg.png");
  background-repeat: no-repeat;
  background-position: top -135px right -60px, top right;
}

.certificate {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .certificate {
    padding-top: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .certificate {
    padding-top: 160px;
  }
}

.certificate > .subtitle {
  text-align: center;
}

.certificate-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .certificate-list {
    gap: 20px 28px;
  }
}
@media screen and (min-width: 1200px) {
  .certificate-list {
    gap: 12px 28px;
  }
}

.certificate-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .certificate-item {
    flex-basis: calc((100% - 28px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .certificate-item {
    flex-basis: calc((100% - 56px) / 3);
  }
}

.certificate-img {
  width: 100%;
}

.reviews {
  padding-top: 60px;
  padding-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}

.reviews > .subtitle {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .reviews > .subtitle {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews > .subtitle {
    margin-bottom: 64px;
  }
}

.reviews::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 206px;
  background-color: #f4fff6;
}
@media screen and (min-width: 768px) {
  .reviews::after {
    height: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews::after {
    height: 290px;
  }
}

.reviews > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 5;
  bottom: -20px;
}

.carousel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.review-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
}

.points-box {
  display: flex;
  gap: 21px;
}

.point {
  background-color: #0B221C;
  width: 6px;
  height: 6px;
  opacity: 0.5;
  border-radius: 50%;
}

.point:first-child {
  background-color: #6BBC60;
}

.review-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 10px;
  width: 311px;
  max-height: 252px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 8px 20px 0px #E0F2DE;
}
@media screen and (min-width: 768px) {
  .review-item {
    padding: 24px 52px 24px 24px;
    flex-basis: calc((100% - 21px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .review-item {
    flex-basis: calc((100% - 42px) / 3);
  }
}

.reviewer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.reviewer-box > img {
  margin-right: 24px;
}

.reviewer-name {
  color: #0b221c;
}

.review-text {
  color: #0b221c;
  margin-bottom: 16px;
  overflow: hidden;
}

.review-date {
  color: #6BBC60;
  font-size: 14px;
  line-height: 150%;
}

.content {
  margin: auto;
  padding: 30px;
  width: 100%;
  max-width: 974px;
  z-index: 10;
}

.slider > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: transparent;
  transition: background-color 0.35s ease;
}
@media screen and (min-width: 768px) {
  .slider > button {
    width: 40px;
    height: 40px;
  }
}

.slider > .slick-arrow::before {
  content: " ";
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.slider > .slick-prev::before {
  background-image: url("../images/review/left-arr.png");
}

.slider > .slick-next::before {
  background-image: url("../images/review/right-arr.png");
}

.slider > .slick-arrow:hover,
.slider > .slick-arrow:focus {
  background-color: #387630;
}

.slider > .slick-prev {
  left: -35px;
}
@media screen and (min-width: 768px) {
  .slider > .slick-prev {
    left: -45px;
  }
}

.slider > .slick-next {
  right: -35px;
}
@media screen and (min-width: 768px) {
  .slider > .slick-next {
    right: -45px;
  }
}

.slider > .slick-dots {
  bottom: -32px;
}

ul.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #6BBC60;
}

.footer {
  padding-top: 36px;
  padding-bottom: 48px;
  background-color: #0b221c;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 72px;
  }
}

.footer > .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer > .container {
    flex-direction: row;
    align-items: flex-start;
  }
}

.footer-logo {
  height: 82px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    margin-bottom: 0;
  }
}

.company-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .company-info {
    margin-left: auto;
  }
}

.footer-nav {
  margin-bottom: 32px;
}

.footer-nav-list {
  display: flex;
}

.footer-nav-item:not(:last-child) {
  margin-right: 12px;
}
@media screen and (min-width: 480px) {
  .footer-nav-item:not(:last-child) {
    margin-right: 32px;
  }
}
@media screen and (min-width: 768px) {
  .footer-nav-item:not(:last-child) {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-nav-item:not(:last-child) {
    margin-right: 80px;
  }
}

.footer-nav-link {
  color: #ffffff;
  font-size: 12px;
  font-family: Nunito Sans;
}
@media screen and (min-width: 768px) {
  .footer-nav-link {
    font-size: 14px;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .contacts {
    flex-direction: row;
  }
}

.footer-contacts > .phone-link,
.mail-link {
  display: flex;
  color: #fff;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.footer-contacts > .phone-link {
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .footer-contacts > .phone-link {
    margin-bottom: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts > .phone-link {
    margin-right: 55px;
    margin-bottom: 0;
  }
}

.mail-img {
  width: 28px;
  height: 20px;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .mail-img {
    margin-right: 16px;
  }
}

.phone-img {
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .phone-img {
    margin-right: 16px;
  }
}

.footer-contacts {
  display: flex;
  justify-content: center;
}

.footer-contacts:last-child {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer-contacts:last-child {
    flex-direction: row;
  }
}

.footer-contacts:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .footer-contacts:not(:last-child) {
    margin-right: 32px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts:not(:last-child) {
    margin-right: 64px;
  }
}

.local-marker {
  width: 20px;
  height: 26px;
  margin-right: 12px;
}
@media screen and (min-width: 1200px) {
  .local-marker {
    margin-right: 32px;
  }
}

.clock-img {
  width: 26px;
  height: 26px;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .clock-img {
    margin-right: 32px;
  }
}

.text-box {
  display: flex;
  justify-content: space-between;
}

.text-box:not(:last-child) {
  margin-bottom: 10px;
}

.work-time {
  padding-left: 10px;
}
@media screen and (min-width: 1200px) {
  .work-time {
    padding-left: 32px;
  }
}

.contact-wrapper > p:not(:last-child) {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.contact-wrapper > p:last-child {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.text-box > p {
  color: var(--white, #fff);
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.text-box > span {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.mail-wrapper {
  display: flex;
}

.children-courses-container {
  padding-bottom: 160px;
}

.children-courses-container > .subtitle {
  margin: 32px 0;
  text-align: left;
}

.children-courses-card-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .children-courses-card-list {
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .children-courses-card-list {
    gap: 32px;
  }
}

.children-courses-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9px 9px 0 0;
  position: relative;
  cursor: pointer;
  transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .children-courses-card {
    flex-basis: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .children-courses-card {
    flex-basis: calc((100% - 64px) / 3);
  }
}

.children-courses-card:hover {
  box-shadow: 0 0 12px;
  scale: 1.01;
}

.additional-course-info-block {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.additional-course-info-block > img {
  width: 22px;
}
@media screen and (min-width: 768px) {
  .additional-course-info-block > img {
    width: 32px;
  }
}

.additional-course-info-block > img:not(:last-child) {
  margin-bottom: 8px;
}

.children-courses-card:nth-child(3n+1) {
  background-color: #6bbc60;
}

.children-courses-card:nth-child(3n+2) {
  background-color: #ffb539;
}

.children-courses-card:nth-child(3n+3) {
  background-color: #e0b2c9;
}

.course-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 20px;
  border-radius: 9px 9px 0 0;
  background-color: #f4fff6;
  box-shadow: 1.6px 4.7px 11px 0px rgba(153, 175, 153, 0.25);
}
@media screen and (min-width: 768px) {
  .course-card-info {
    padding: 10px 14px 20px;
  }
}

.course-subinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 16px;
  border-bottom: 1px solid #6bbc60;
}

.course-subinfo > img {
  width: 28px;
  margin-right: 4px;
}
@media screen and (min-width: 768px) {
  .course-subinfo > img {
    width: 32px;
    margin-right: 8px;
  }
}

.course-name {
  color: #0b221c;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.course-card-text-box:not(:last-child) {
  margin-right: 8px;
}

.course-card-text {
  color: #0b221c;
  font-family: Nunito Sans;
  font-size: 9px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .course-card-text {
    font-size: 11px;
  }
}

.about-us-section > .container {
  padding-top: 24px;
}

.about-section {
  padding-bottom: 74px;
  background-image: url("../images/page-about/about-us-page-bg1.png"), url("../images/page-about/about-us-page-bg1.png");
  background-repeat: no-repeat no-repeat;
  background-position: top -140px left 20px, bottom 195px right -415px;
}

.title-container {
  padding-top: 32px;
  margin-bottom: 32px;
}

.page-subtitle {
  color: #0b221c;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .page-subtitle {
    font-size: 27px;
  }
}
@media screen and (min-width: 1200px) {
  .page-subtitle {
    font-size: 32px;
  }
}

.about-section__img {
  max-height: 100%;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .about-section__img {
    margin-bottom: 0;
  }
}

.top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  color: #0b221c;
}
@media screen and (min-width: 768px) {
  .top-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-bottom: 77px;
    padding: 0 0 19px;
  }
}
@media screen and (min-width: 1200px) {
  .top-wrapper {
    align-items: stretch;
  }
}

.about-block {
  color: #0b221c;
}
@media screen and (min-width: 768px) {
  .about-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.about-block__title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about-block__title {
    max-width: 380px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .about-block__title {
    margin-bottom: 28px;
    font-size: 32px;
  }
}
.about-block__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}
@media screen and (min-width: 768px) {
  .about-block__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .about-block__text {
    line-height: 120%;
  }
}

.about-block__text + .about-block__text {
  margin-top: 22px;
}

.mob-hidden-text {
  display: none;
}
@media screen and (min-width: 768px) {
  .mob-hidden-text {
    display: inline;
  }
}

@media screen and (min-width: 768px) {
  .text-container {
    margin-right: 48px;
  }
}

.bottom-wrapper {
  display: flex;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .bottom-wrapper {
    max-width: 70%;
  }
}

.teacher-info-box {
  padding: 12px;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .teacher-info-box {
    padding: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .teacher-info-box {
    height: auto;
    align-self: auto;
  }
}

.teacher-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border-radius: 12px;
  box-shadow: 1px 1px 12px 0px rgba(21, 20, 8, 0.1);
  background-color: #f4fff6;
}
.teacher-card__img {
  border-radius: 9px;
  border: 2px solid #afd8aa;
}
.teacher-card__meta {
  padding-left: 22px;
}
.teacher-card__item:not(:last-child) {
  margin-bottom: 24px;
}
.teacher-card__name {
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .teacher-card__name {
    font-size: 16px;
  }
}
.teacher-card__name::before {
  background-image: url("../images/page-about/person.png");
}
.teacher-card__email {
  font-size: 14px;
  font-weight: 400;
}
.teacher-card__email::before {
  background-image: url("../images/page-about/email.png");
}
.teacher-card__phone {
  font-size: 14px;
  font-weight: 400;
}
.teacher-card__phone::before {
  background-image: url("../images/page-about/phone.png");
}

.teacher-prop {
  position: relative;
  color: #0b221c;
  padding-left: 10px;
}
@media screen and (min-width: 768px) {
  .teacher-prop {
    padding-left: 18px;
  }
}
.teacher-prop::before {
  content: " ";
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
}

.mob-hidden-card {
  display: none;
}
@media screen and (min-width: 768px) {
  .mob-hidden-card {
    display: flex;
  }
}

.tablet-hidden-card {
  margin: 0 auto;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .tablet-hidden-card {
    display: none;
  }
}

.teachers-team__subtitle {
  margin-bottom: 64px;
  color: #0b221c;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__subtitle {
  color: #0b221c;
  font-size: 32px;
  text-align: center;
}

.teachers-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-basis: calc((100% - 96px) / 4);
}
.teachers-list__item {
  max-width: 268px;
}

.company-location-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .company-location-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 96px;
  }
}

.map-wrapper {
  width: 604px;
  height: 430px;
  max-width: 100%;
  margin-bottom: 24px;
  border-radius: 12px;
  border: 2px solid #afd8aa;
  background: #afd8aa;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .map-wrapper {
    margin-bottom: 0;
  }
}

.company-meta-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0b221c;
}
@media screen and (min-width: 1200px) {
  .company-meta-card {
    align-items: flex-start;
  }
}

.company-meta-card__adress {
  text-align: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .company-meta-card__adress {
    text-align: left;
  }
}

.company-meta-card__mail-link,
.company-meta-card__link:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .company-meta-card__mail-link,
  .company-meta-card__link:not(:last-child) {
    margin-bottom: 16px;
  }
}

.company-meta-card__mail-link,
.company-meta-card__link {
  display: flex;
  color: #0b221c;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  padding: 8px;
}

.company-meta-card__mail-link:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/page-about/email.png");
  margin-right: 24px;
}

.company-meta-card__link:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/page-about/phone.png");
  margin-right: 24px;
}

.office-hours-block::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/contacts/clock.png");
  margin-right: 24px;
}

.office-hours-block {
  display: flex;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .office-hours-block {
    margin-bottom: 22px;
  }
}
.office-hours-block__days {
  margin-right: 22px;
}
.office-hours-block__text, .office-hours-block__daytime {
  color: #0b221c;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
}
@media screen and (min-width: 768px) {
  .office-hours-block__text, .office-hours-block__daytime {
    font-size: 16px;
  }
}

.contacts-form {
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .contacts-form {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-form {
    margin-bottom: 96px;
  }
}

.contacts-text {
  color: #0b221c;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.contacts-text + .contacts-text {
  margin-top: 22px;
}

.text-wrapper {
  margin: 0 auto;
  padding-bottom: 40px;
  max-width: 812px;
}
@media screen and (min-width: 768px) {
  .text-wrapper {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .text-wrapper {
    padding-bottom: 160px;
  }
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #afd8aa;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .feedback-form {
    width: 72%;
    padding: 32px 40px;
    gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-form {
    width: 66%;
    padding: 40px 64px;
    gap: 32px;
  }
}
.feedback-form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 14px 17px;
  border-radius: 8px;
  border: 1px solid #6bbc60;
  background: #fff;
}
.feedback-form__input[type=number] {
  grid-column: 2;
  grid-row: 1;
}
.feedback-form__input[type=email] {
  grid-column: span 2;
}
.feedback-form__comments {
  grid-column: span 2;
  grid-row: 3;
  width: 100%;
  height: 120px;
  max-width: 100%;
  padding: 14px 0px 14px 17px;
  border-radius: 8px;
  border: 1px solid #6bbc60;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .feedback-form__comments {
    height: 150px;
  }
}
.feedback-form__btn {
  width: 100%;
  max-height: 48px;
  text-transform: uppercase;
  color: #0b221c;
  background-color: #ffb539;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 14px 72px;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  box-shadow: 7px 7px 6px rgba(98, 90, 20, 0.2509803922);
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__btn:hover, .feedback-form__btn:focus {
  background-color: #f7a71c;
}

.form-title, .modal-title {
  margin: 0 auto;
  margin-bottom: 0;
  color: #0b221c;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .form-title, .modal-title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .form-title, .modal-title {
    font-size: 24px;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .form-field {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 32px;
    margin-bottom: 32px;
  }
}

.course-card__title {
  margin-bottom: 16px;
  color: #0b221c;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
}
@media screen and (min-width: 1200px) {
  .course-card__title {
    margin-bottom: 24px;
    font-size: 24px;
  }
}

.course-cardset {
  margin-bottom: 64px;
}

.course-card {
  padding: 48px 16px;
  border-radius: 8px;
  border: 1px solid #afd8aa;
  background: #fff;
  box-shadow: 0px 0px 39px 0px rgba(23, 91, 22, 0.11);
}
@media screen and (min-width: 768px) {
  .course-card {
    padding: 32px 16px 0;
  }
}
@media screen and (min-width: 1200px) {
  .course-card {
    padding: 32px;
  }
}

.course-card:not(:last-child) {
  margin-bottom: 64px;
}

.course-card:nth-child(3n+1) .img-box {
  background-color: #6bbc60;
}

.course-card:nth-child(3n+2) .img-box {
  background-color: #ffb539;
}

.course-card:nth-child(3n+3) .img-box {
  background-color: #e0b2c9;
}

.img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  height: 100%;
  border-radius: 9px;
}
@media screen and (min-width: 1200px) {
  .img-box {
    padding: 43px 0;
  }
}
.img-box:hover::after, .img-box:focus::after {
  opacity: 1;
}
.img-box:hover .img-box__btn, .img-box:focus .img-box__btn {
  opacity: 1;
}

.img-box::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: rgba(2, 31, 23, 0.502);
  width: 100%;
  height: 100%;
  border-radius: 9px;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.img-box__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 32px;
  padding-right: 32px;
  z-index: 10;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.course-card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}
@media screen and (min-width: 768px) {
  .course-card__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr;
    -moz-column-gap: 8px;
         column-gap: 8px;
    row-gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .course-card__wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    -moz-column-gap: 24px;
         column-gap: 24px;
    align-items: flex-start;
  }
}

.teacher-courses-card-btn {
  max-width: 90%;
}

.meta-list {
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .meta-list {
    margin-bottom: 54px;
  }
}

.meta-list__text {
  color: #0b221c;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .meta-list__text {
    font-size: 16px;
  }
}

.meta-list__item {
  display: flex;
  flex-direction: row;
}
.meta-list__item:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .meta-list__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.meta-list__item::before {
  content: "";
  width: 20px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 6px;
  display: inline-block;
}
@media screen and (min-width: 375px) {
  .meta-list__item::before {
    width: 30px;
    height: 26px;
    margin-right: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .meta-list__item::before {
    margin-right: 24px;
    width: 40px;
    height: 30px;
  }
}

.meta-list__item.icon-clock::before {
  background-image: url("../images/teachers-page/clock.png");
}

.meta-list__item.icon-flag::before {
  background-image: url("../images/teachers-page/flag.png");
}

.meta-list__item.icon-person::before {
  background-image: url("../images/teachers-page/person.png");
}

.meta-list__item.icon-pencil::before {
  background-image: url("../images/teachers-page/pencil.png");
}

.meta-list__item.icon-book::before {
  background-image: url("../images/teachers-page/book.png");
}

.meta-list__item.icon-price::before {
  background-image: url("../images/teachers-page/price.png");
}

.meta-list__item.icon-calendar::before {
  background-image: url("../images/teachers-page/calendar.png");
}

.datepicker {
  display: none;
}

.pika-single {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 1.3px 12px 4px rgba(11, 19, 94, 0.12);
}

.description {
  color: #0b221c;
}

.description-box {
  display: none;
}
@media screen and (min-width: 768px) {
  .description-box {
    display: block;
  }
}

.description__title {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  text-transform: lowercase;
  margin-bottom: 20px;
}
.description__title::before {
  content: "";
  width: 40px;
  height: 30px;
  margin-right: 24px;
  background-image: url("../images/teachers-page/manuscript.png");
  background-repeat: no-repeat;
}

.description__text {
  display: block;
  width: 360px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #afd8aa;
  background-color: #f4fff6;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1160px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 54px 0px rgba(16, 64, 15, 0.31);
  background-image: url("../images/modal/Background.png");
  background-repeat: no-repeat;
  background-color: #f4fff6;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 60px 48px;
  }
}

.modal-title {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal-title {
    margin-bottom: 32px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  border: none;
  fill: #0b221c;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .modal__btn-close {
    top: 20px;
    right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .modal__btn + .modal__btn {
    margin-left: 32px;
  }
}

.modal__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .modal__btn-container {
    flex-direction: row;
    gap: 0;
  }
}

.icon-close {
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 1200px) {
  .icon-close {
    width: 32px;
    height: 32px;
  }
}

.accordion-box {
  padding-bottom: 60px;
}

.accordion {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #afd8aa;
  background-color: #f4fff6;
}
@media screen and (min-width: 768px) {
  .accordion {
    padding: 24px 40px 24px 24px;
  }
}

.accordion__item {
  color: #0b221c;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.accordion__title-container {
  position: relative;
  border-bottom: 1px solid #afd8aa;
  padding: 20px 50px 20px 0px;
  margin-bottom: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .accordion__title-container {
    padding: 16px 24px 16px 0;
  }
}

.accordion__item-active .accordion__title-container {
  margin-bottom: 10px;
}

.accordion__title-container::after,
.accordion__item-active .accordion__title-container::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 50%;
}

.accordion__title-container::after {
  background-image: url("../images/questions/arrow.svg");
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.accordion__item-active .accordion__title-container::after {
  background-image: url("../images/questions/arrow-active.svg");
}

.accordion__text-container {
  padding: 0;
  background-color: #fff;
  max-height: 0;
  border: 1px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.accordion__item-active .accordion__text-container {
  margin: 0 auto;
  max-height: 700px;
  opacity: 1;
  border: 1px solid #6bbc60;
  border-radius: 10px;
  padding: 12px;
}
@media screen and (min-width: 768px) {
  .accordion__item-active .accordion__text-container {
    padding: 16px;
  }
}

.accordion__item-title {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .accordion__item-title {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */