$primaryFont: Nunito Sans, sans-serif;

//Text Colors
$darkTextColor: #0b221c;
$lightTextColor: #ffffff;

// Background Colors
$mainBackground: #ffffff;
$footerBackground: #0b221c;
$headerBackground: #f4fff6;
$mainBtnColor: #ffb539;
$secondaryBtnColor: #6bbc60;
$sectionBgColor: #6bbc60;
$accentBtnColor: #f7a71c;
$secondaryAccentBtnColor: #5ca652;

// Fonts
$mainFontSize: 20px;
$mainFontWeight: 400;
