$primaryFont: Nunito Sans, sans-serif;

//Text Colors
$darkTextColor: #0B221C;
$lightTextColor:#FFFFFF;

// Background Colors
$mainBackground:#ffffff;
$footerBackground:#0B221C;
$headerBackground:#F4FFF6;
$mainBtnColor:#FFB539;
$secondBtnColor:#6BBC60;

// Fonts
$mainFontSize:20px;
$mainFontWeight:400;