.main {
  background-image: url('../images/courses-card/course-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.about-us-section > .container {
  padding-top: 24px;
}

.about-section {
  padding-bottom: 74px;
  background-image: url('../images/page-about/about-us-page-bg1.png'),
    url('../images/page-about/about-us-page-bg1.png');
  background-repeat: no-repeat no-repeat;
  // background-position: top -140px left 20px, bottom 195px right -415px;
}

.title-container {
  padding-top: 32px;
  margin-bottom: 32px;
}

.page-subtitle {
  color: #0b221c;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 27px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 32px;
  }
}

.about-section {
  &__img {
    max-height: 100%;
    margin-bottom: 28px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  color: #0b221c;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-bottom: 77px;
    padding: 0 0 19px;
  }

  @media screen and (min-width: 1200px) {
    align-items: stretch;
  }
}

.about-block {
  color: #0b221c;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    @media screen and (min-width: 768px) {
      max-width: 380px;
      margin-bottom: 20px;
      font-size: 28px;
      font-weight: 600;
      text-align: left;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 28px;
      font-size: 32px;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
    @media screen and (min-width: 1200px) {
      line-height: 120%;
    }
  }
}

.about-block__text + .about-block__text {
  margin-top: 22px;
}

.mob-hidden-text {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline;
  }
}

.text-container {
  @media screen and (min-width: 768px) {
    margin-right: 48px;
  }
}

.bottom-wrapper {
  display: flex;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    max-width: 70%;
  }
}

.teachers-team {
  background-image: url('../images/page-about/bg-3.png');
  background-repeat: no-repeat;
}

.teacher-info-box {
  padding: 12px;
  height: fit-content;
  align-self: center;
  @media screen and (min-width: 768px) {
    padding: 24px;
  }
  @media screen and (min-width: 1200px) {
    height: auto;
    align-self: auto;
  }
}

.teacher-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  border-radius: 12px;
  box-shadow: 1px 1px 12px 0px rgba(21, 20, 8, 0.1);

  background-color: #f4fff6;
  &__img {
    border-radius: 9px;
    border: 2px solid #afd8aa;
  }

  &__meta {
    padding-left: 22px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    &::before {
      background-image: url('../images/page-about/person.png');
    }
  }

  &__email {
    font-size: 14px;
    font-weight: 400;

    &::before {
      background-image: url('../images/page-about/email.png');
    }
  }

  &__phone {
    font-size: 14px;
    font-weight: 400;

    &::before {
      background-image: url('../images/page-about/phone.png');
    }
  }
}

.teacher-prop {
  position: relative;
  color: #0b221c;
  padding-left: 10px;
  @media screen and (min-width: 768px) {
    padding-left: 18px;
  }

  &::before {
    content: ' ';
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
  }
}

.mob-hidden-card {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.tablet-hidden-card {
  margin: 0 auto;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.teachers-team {
  &__subtitle {
    margin-bottom: 64px;
    color: #0b221c;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.section {
  &__subtitle {
    color: #0b221c;
    font-size: 32px;
    text-align: center;
  }
}

.teachers-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-basis: calc((100% - 96px) / 4);
  &__item {
    max-width: 268px;
  }
}
