.main {
  background-image: url('../images/courses-card/course-bg.svg');
}

.base-container {
  padding-top: 24px;
  padding-bottom: 160px;
}

.children-courses-container > .subtitle {
  margin: 32px 0;
  text-align: left;
}

.children-courses-cardset {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  @media screen and (min-width: 768px) {
    gap: 20px;
  }
  @media screen and (min-width: 1200px) {
    gap: 32px;
  }
}

.children-courses-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9px 9px 0 0;
  position: relative;
  box-shadow: none;

  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 20px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 64px) / 3);
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
  }
}

.children-courses-card:nth-child(3n + 1) {
  background-color: #6bbc60;
}

.children-courses-card:nth-child(3n + 2) {
  background-color: #ffb539;
}

.children-courses-card:nth-child(3n + 3) {
  background-color: #e0b2c9;
}

.course-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 20px;
  border-radius: 9px 9px 0 0;
  background-color: #f4fff6;
  box-shadow: 1.6px 4.7px 11px 0px rgba(153, 175, 153, 0.25);

  @media screen and (min-width: 1200px) {
    padding: 10px 14px 20px;
  }
}

.course-subinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 16px;
  gap: 9px;
  border-bottom: 1px solid #6bbc60;
  cursor: text;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    gap: 4px;
  }
}

.course-link {
  color: #0b221c;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.children-courses-card:hover .course-link {
  color: $secondaryAccentBtnColor;
}

$icons: 'start', 'group', 'time', 'price';

.course-card-text {
  display: flex;
  align-items: center;
  flex-basis: calc(50% - 9px);
  color: #0b221c;
  font-family: Nunito Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @media screen and (min-width: 1200px) {
    font-size: 11px;
    flex-basis: calc(25% - 4px);
    text-wrap: wrap;
  }
}

.course-card-text::before {
  content: '';
  width: 24px;
  height: 24px;
  max-width: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 8px;
  padding-left: 8px;
}

$icons: 'start', 'group', 'time', 'price';
@each $iconName in $icons {
  .course-card-text[data-#{$iconName}]::before {
    background-image: url('../images/courses-card/#{$iconName}.svg');
  }
}
