.reviews{
    padding-top: 60px;
    padding-bottom: 80px;
    @media screen and (min-width: 768px) {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 160px;
    padding-bottom: 160px;
    }
    
    }
    
.reviews > .subtitle{
        text-align: center;
        @media screen and (min-width: 768px) {
            margin-bottom: 48px;
         } 
         @media screen and (min-width: 1200px) {
            margin-bottom: 64px;
         } 
}

.reviews::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 206px;
    background-color: $headerBackground;
    @media screen and (min-width: 768px) {
        height:224px;
    } 

    @media screen and (min-width: 1200px) {
        height: 290px;
    } 
}

.reviews >.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
    z-index: 5;
    bottom: -20px;
}

.carousel-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px; 
}

.review-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
}

.points-box{
    display: flex;
    gap: 21px;
}

.point {
    background-color: #0B221C;
    width: 6px;
    height: 6px;
    opacity: 0.5;
    border-radius: 50%;
}

.point:first-child {
    background-color: #6BBC60;
  }

 .review-item{
    display: flex;
    flex-direction: column;
    align-items: baseline;

    padding: 10px;
    width: 311px;
    max-height: 252px;

    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 8px 20px 0px #E0F2DE;

    @media screen and (min-width: 768px) {
        padding: 24px 52px 24px 24px;
        flex-basis: calc((100% - 21px) / 2); 
        } 

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 42px) / 3); 
        } 
}

.reviewer-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.reviewer-box > img{
margin-right: 24px;
}

.reviewer-name{
    color: $darkTextColor;
}

.review-text{
    color: $darkTextColor;
    margin-bottom: 16px;
    overflow: hidden;
}

.review-date{
color: #6BBC60;
font-size: 14px;
font-family: Nunito Sans;
line-height: 150%;
}

// SLICK CAROUSEL

.content {
    margin: auto;
    padding: 30px;
    width: 100%;
    max-width: 974px;
    
    z-index: 10;
  }

  .slider > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
   
    width: 32px;
    height: 32px;
    background-color: transparent;
    transition: background-color 0.35s ease;
    @media screen and (min-width: 768px) {
        width: 40px;
        height: 40px;
        } 
  }

  .slider > .slick-arrow::before{
    content: ' ';
    background-size: contain;
    background-repeat: no-repeat; 
    width: 100%;
    height: 100%;
  }

.slider > .slick-prev::before{
    background-image: url('../images/review/left-arr.png');   
    }

.slider > .slick-next::before{
    background-image: url('../images/review/right-arr.png');  
}

  .slider>.slick-arrow:hover, 
  .slider>.slick-arrow:focus{
     background-color: #387630; 
}

  .slider>.slick-prev{
    left: -35px;
    @media screen and (min-width: 768px) {
        left: -45px;
        } 
  }

  .slider> .slick-next{
    right: -35px;
    @media screen and (min-width: 768px) {
        right: -45px;
        } 
  }


  .slider>.slick-dots{
    bottom: -32px;
  }

ul.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #6BBC60;
}

  
  


 