<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vixon School</title>
    <link rel="icon" href="../images/school.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../sass/main.scss" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
  </head>

  <body>
    <include src="./partials/header.html"></include>
    <main>
      <div class="container title-container">
        <!-- ХЛЕБНЫЕ КРОШКИ -->
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="/" class="breadcrumbs__link">Головна</a>
          </li>
          <li class="breadcrumbs__item">Про нас</li>
        </ul>
        <h1 class="page-subtitle">Про нас</h1>
      </div>
      <section class="about-section">
        <div class="container">
          <div class="top-wrapper">
            <img
              src="../images/page-about/class.jpg"
              alt="class"
              class="about-section__img"
            />
            <div class="about-block">
              <h3 class="about-block__title">Vixon School</h3>
              <p class="about-block__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                scelerisque ultricies senectus et. Dui elit egestas vitae
                gravida rhoncus ipsum augue augue. Mattis nunc nec nulla
                ultricies sed est feugiat consectetur. Habitant amet elit purus
                vitae ut nec erat sapien. In nunc a ac et vulputate donec sit.
                Sed massa amet convallis nascetur magnis auctor amet, fermentum,
                lobortis.
              </p>
              <p class="about-block__text mob-hidden-text">
                Pellentesque eu aliquam, sed sed nibh curabitur tellus. Sed
                iaculis amet non nec tellus at nunc, nisi, eget. Volutpat erat
                vel non id pellentesque egestas fusce ac.
              </p>
              <p class="about-block__text mob-hidden-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                scelerisque ultricies senectus et. Dui elit egestas vitae
                gravida rhoncus ipsum augue augue. Mattis nunc nec nulla
                ultricies sed est feugiat consectetur. Habitant amet elit purus
                vitae ut nec erat sapien. In nunc a ac et vulputate donec sit.
                Sed massa amet convallis nascetur magnis auctor amet, fermentum,
                lobortis.
              </p>
              <button class="read-more-btn">Читать все</button>
            </div>
          </div>
          <div class="bottom-wrapper">
            <div class="about-block text-container">
              <h3 class="about-block__title">Засновниця школи Vixon School</h3>
              <div class="teacher-card teacher-info-box tablet-hidden-card">
                <img
                  class="teacher-card__img"
                  src="../images/page-about/foundator-img.jpg"
                  alt="foundator"
                />
                <ul class="teacher-card__meta">
                  <li class="teacher-card__item">
                    <p class="teacher-card__name teacher-prop">
                      Саша Александра Окорокова
                    </p>
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="mailto:izzet.talybov@rcproperty.ru"
                      class="teacher-card__email teacher-prop"
                      >izzet.talybov@rcproperty.ru</a
                    >
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="tel:+905437828221"
                      class="teacher-card__phone teacher-prop"
                      >+905437828221</a
                    >
                  </li>
                </ul>
              </div>

              <p class="about-block__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                scelerisque ultricies senectus et. Dui elit egestas vitae
                gravida rhoncus ipsum augue augue. Mattis nunc nec nulla
                ultricies sed est feugiat consectetur. Habitant amet elit purus
                vitae ut nec erat sapien. In nunc a ac et vulputate donec sit.
                Sed massa amet convallis nascetur magnis auctor amet, fermentum,
                lobortis.
              </p>
              <p class="about-block__text mob-hidden-text">
                Pellentesque eu aliquam, sed sed nibh curabitur tellus. Sed
                iaculis amet non nec tellus at nunc, nisi, eget. Volutpat erat
                vel non id pellentesque egestas fusce ac.
              </p>
              <p class="about-block__text mob-hidden-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                scelerisque ultricies senectus et. Dui elit egestas vitae
                gravida rhoncus ipsum augue augue. Mattis nunc nec nulla
                ultricies sed est feugiat consectetur. Habitant amet elit purus
                vitae ut nec erat sapien. In nunc a ac et vulputate donec sit.
                Sed massa amet convallis nascetur magnis auctor amet, fermentum,
                lobortis.
              </p>
              <button class="read-more-btn">Читать все</button>
            </div>
            <div class="teacher-card teacher-info-box mob-hidden-card">
              <img
                class="teacher-card__img"
                src="../images/page-about/foundator-img.jpg"
                alt="foundator"
              />
              <ul class="teacher-card__meta">
                <li class="teacher-card__item">
                  <p class="teacher-card__name teacher-prop">
                    Саша Александра Окорокова
                  </p>
                </li>
                <li class="teacher-card__item">
                  <a
                    href="mailto:izzet.talybov@rcproperty.ru"
                    class="teacher-card__email teacher-prop"
                    >izzet.talybov@rcproperty.ru</a
                  >
                </li>
                <li class="teacher-card__item">
                  <a
                    href="tel:+905437828221"
                    class="teacher-card__phone teacher-prop"
                    >+905437828221</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- Teachers Section -->

      <section class="teachers-team section">
        <div class="container">
          <h2 class="section__subtitle teachers-team__subtitle">
            Наші вчителі
          </h2>
          <ul class="teachers-list">
            <li class="teachers-list__item">
              <div class="teacher-card teacher-info-box">
                <img
                  class="teacher-card__img"
                  src="../images/page-about/teacher1.jpg"
                  alt="teacher1"
                />
                <ul class="teacher-card__meta">
                  <li class="teacher-card__item">
                    <p class="teacher-card__name teacher-prop">
                      Саша Александра Окорокова
                    </p>
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="mailto:izzet.talybov@rcproperty.ru"
                      class="teacher-card__email teacher-prop"
                      >izzet.talybov@rcproperty.ru</a
                    >
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="tel:+905437828221"
                      class="teacher-card__phone teacher-prop"
                      >+905437828221</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="teachers-list__item">
              <div class="teacher-card teacher-info-box">
                <img
                  class="teacher-card__img"
                  src="../images/page-about/teacher2.jpg"
                  alt="teacher2"
                />
                <ul class="teacher-card__meta">
                  <li class="teacher-card__item">
                    <p class="teacher-card__name teacher-prop">
                      Саша Александра Окорокова
                    </p>
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="mailto:izzet.talybov@rcproperty.ru"
                      class="teacher-card__email teacher-prop"
                      >izzet.talybov@rcproperty.ru</a
                    >
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="tel:+905437828221"
                      class="teacher-card__phone teacher-prop"
                      >+905437828221</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="teachers-list__item">
              <div class="teacher-card teacher-info-box">
                <img
                  class="teacher-card__img"
                  src="../images/page-about/teacher3.jpg"
                  alt="teacher3"
                />
                <ul class="teacher-card__meta">
                  <li class="teacher-card__item">
                    <p class="teacher-card__name teacher-prop">
                      Саша Александра Окорокова
                    </p>
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="mailto:izzet.talybov@rcproperty.ru"
                      class="teacher-card__email teacher-prop"
                      >izzet.talybov@rcproperty.ru</a
                    >
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="tel:+905437828221"
                      class="teacher-card__phone teacher-prop"
                      >+905437828221</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="teachers-list__item">
              <div class="teacher-card teacher-info-box">
                <img
                  class="teacher-card__img"
                  src="../images/page-about/teacher4.jpg"
                  alt="teacher4"
                />
                <ul class="teacher-card__meta">
                  <li class="teacher-card__item">
                    <p class="teacher-card__name teacher-prop">
                      Саша Александра Окорокова
                    </p>
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="mailto:izzet.talybov@rcproperty.ru"
                      class="teacher-card__email teacher-prop"
                      >izzet.talybov@rcproperty.ru</a
                    >
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="tel:+905437828221"
                      class="teacher-card__phone teacher-prop"
                      >+905437828221</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="teachers-list__item">
              <div class="teacher-card teacher-info-box">
                <img
                  class="teacher-card__img"
                  src="../images/page-about/teacher1.jpg"
                  alt="teacher1"
                />
                <ul class="teacher-card__meta">
                  <li class="teacher-card__item">
                    <p class="teacher-card__name teacher-prop">
                      Саша Александра Окорокова
                    </p>
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="mailto:izzet.talybov@rcproperty.ru"
                      class="teacher-card__email teacher-prop"
                      >izzet.talybov@rcproperty.ru</a
                    >
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="tel:+905437828221"
                      class="teacher-card__phone teacher-prop"
                      >+905437828221</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="teachers-list__item">
              <div class="teacher-card teacher-info-box">
                <img
                  class="teacher-card__img"
                  src="../images/page-about/teacher2.jpg"
                  alt="teacher2"
                />
                <ul class="teacher-card__meta">
                  <li class="teacher-card__item">
                    <p class="teacher-card__name teacher-prop">
                      Саша Александра Окорокова
                    </p>
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="mailto:izzet.talybov@rcproperty.ru"
                      class="teacher-card__email teacher-prop"
                      >izzet.talybov@rcproperty.ru</a
                    >
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="tel:+905437828221"
                      class="teacher-card__phone teacher-prop"
                      >+905437828221</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="teachers-list__item">
              <div class="teacher-card teacher-info-box">
                <img
                  class="teacher-card__img"
                  src="../images/page-about/teacher3.jpg"
                  alt="teacher3"
                />
                <ul class="teacher-card__meta">
                  <li class="teacher-card__item">
                    <p class="teacher-card__name teacher-prop">
                      Саша Александра Окорокова
                    </p>
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="mailto:izzet.talybov@rcproperty.ru"
                      class="teacher-card__email teacher-prop"
                      >izzet.talybov@rcproperty.ru</a
                    >
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="tel:+905437828221"
                      class="teacher-card__phone teacher-prop"
                      >+905437828221</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="teachers-list__item">
              <div class="teacher-card teacher-info-box">
                <img
                  class="teacher-card__img"
                  src="../images/page-about/teacher4.jpg"
                  alt="teacher4"
                />
                <ul class="teacher-card__meta">
                  <li class="teacher-card__item">
                    <p class="teacher-card__name teacher-prop">
                      Саша Александра Окорокова
                    </p>
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="mailto:izzet.talybov@rcproperty.ru"
                      class="teacher-card__email teacher-prop"
                      >izzet.talybov@rcproperty.ru</a
                    >
                  </li>
                  <li class="teacher-card__item">
                    <a
                      href="tel:+905437828221"
                      class="teacher-card__phone teacher-prop"
                      >+905437828221</a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section class="certificate-reviews">
        <include src="./partials/certificate-section.html"></include>
        <include src="./partials/reviews-section.html"></include>
      </section>
    </main>
    <include src="./partials/footer.html"></include>

    <script type="module" src="../js/carousel.js"></script>
  </body>
</html>
