<section class="certificate section">
  <h2 class="subtitle">Сертификаты</h2>

  <div class="container">
    <div class="gallery">
      <a href="/src/images/certificate/cert-1.jpg">
        <img
          class="certificate-img"
          src="/src/images/certificate/cert-1.jpg"
          alt="certificate 1"
        />
      </a>
      <a href="/src/images/certificate/cert-2.jpg">
        <img
          class="certificate-img"
          src="/src/images/certificate/cert-2.jpg"
          alt="certificate 2"
        />
      </a>
      <a href="/src/images/certificate/cert-3.jpg">
        <img
          class="certificate-img"
          src="/src/images/certificate/cert-3.jpg"
          alt="certificate 3"
        />
      </a>
      <a href="/src/images/certificate/cert-4.jpg">
        <img
          class="certificate-img"
          src="/src/images/certificate/cert-4.jpg"
          alt="certificate 4"
        />
      </a>
      <a href="/src/images/certificate/cert-5.jpg">
        <img
          class="certificate-img"
          src="/src/images/certificate/cert-5.jpg"
          alt="certificate 5"
        />
      </a>
      <a href="/src/images/certificate/cert-6.jpg">
        <img
          class="certificate-img"
          src="/src/images/certificate/cert-6.jpg"
          alt="certificate 6"
        />
      </a>
    </div>
  </div>
</section>
