<section class="certificate section">
  <h2 class="subtitle">Сертифікати</h2>

  <div class="container">
    <ul class="certificate-list">
      <li class="certificate-item">
        <img
          class="certificate-img"
          src="/src/images/certificate/cert-1.png"
          alt="certificate"
        />
      </li>
      <li class="certificate-item">
        <img
          class="certificate-img"
          src="/src/images/certificate/cert-2.png"
          alt="certificate"
        />
      </li>
      <li class="certificate-item">
        <img
          class="certificate-img"
          src="/src/images/certificate/cert-1.png"
          alt="certificate"
        />
      </li>
      <li class="certificate-item">
        <img
          class="certificate-img"
          src="/src/images/certificate/cert-2.png"
          alt="certificate"
        />
      </li>
      <li class="certificate-item">
        <img
          class="certificate-img"
          src="/src/images/certificate/cert-1.png"
          alt="certificate"
        />
      </li>
      <li class="certificate-item">
        <img
          class="certificate-img"
          src="/src/images/certificate/cert-2.png"
          alt="certificate"
        />
      </li>
    </ul>
  </div>
</section>
