<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vixon School</title>
  <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Nunito+Sans:ital,wght@0,600;0,700;0,800;1,400&family=Raleway:wght@700&family=Roboto:wght@400;700;900&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="../sass/main.scss" />
</head>
<body>
  <include src='./partials/header.html'></include>

 <main>
<div class="container children-courses-container">
  <h2 class="subtitle">Курси від 5-9 років</h2>
  <ul class="children-courses-card-list">

    <li class="children-courses-card">
      <div class="additional-course-info-block">
        <img src="../images/courses-card/info-1.svg" alt="">
        <img src="../images/courses-card/info-2.svg" alt="">
        <img src="../images/courses-card/info-3.svg" alt="">
      </div>
      <img src="../images/courses-card/1.png" alt="course">
      <div class="course-card-info">
        <div class="course-subinfo">
          <img src="../images/courses-card/start.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">старт</p>
            <p class="course-card-text">17.09.22</p>
          </div>
          <img src="../images/courses-card/group.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">група</p>
            <p class="course-card-text">до 7 осіб</p>
          </div>
          <img src="../images/courses-card/time.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">час</p>
            <p class="course-card-text">4 міс</p>
          </div>
          <img src="../images/courses-card/price.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">ціна</p>
            <p class="course-card-text">6000 грн</p>
          </div>
        </div>
        <h3 class="course-name">Досліджуємо сонячну систему через вимірювання</h3>
      </div>
    </li>

    <li class="children-courses-card">
      <div class="additional-course-info-block">
        <img src="../images/courses-card/info-1.svg" alt="">
        <img src="../images/courses-card/info-2.svg" alt="">
        <img src="../images/courses-card/info-3.svg" alt="">
      </div>
      <img src="../images/courses-card/2.png" alt="course">
      <div class="course-card-info">
        <div class="course-subinfo">
          <img src="../images/courses-card/start.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">старт</p>
            <p class="course-card-text">17.09.22</p>
          </div>
          <img src="../images/courses-card/group.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">група</p>
            <p class="course-card-text">до 7 осіб</p>
          </div>
          <img src="../images/courses-card/time.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">час</p>
            <p class="course-card-text">4 міс</p>
          </div>
          <img src="../images/courses-card/price.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">ціна</p>
            <p class="course-card-text">6000 грн</p>
          </div>
        </div>
        <h3 class="course-name">Досліджуємо сонячну систему через вимірювання</h3>
      </div>
    </li>

    <li class="children-courses-card">
      <div class="additional-course-info-block">
        <img src="../images/courses-card/info-1.svg" alt="">
        <img src="../images/courses-card/info-2.svg" alt="">
        <img src="../images/courses-card/info-3.svg" alt="">
      </div>
      <img src="../images/courses-card/3.png" alt="course">
      <div class="course-card-info">
        <div class="course-subinfo">
          <img src="../images/courses-card/start.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">старт</p>
            <p class="course-card-text">17.09.22</p>
          </div>
          <img src="../images/courses-card/group.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">група</p>
            <p class="course-card-text">до 7 осіб</p>
          </div>
          <img src="../images/courses-card/time.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">час</p>
            <p class="course-card-text">4 міс</p>
          </div>
          <img src="../images/courses-card/price.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">ціна</p>
            <p class="course-card-text">6000 грн</p>
          </div>
        </div>
        <h3 class="course-name">Досліджуємо сонячну систему через вимірювання</h3>
      </div>
    </li>

    <li class="children-courses-card">
      <div class="additional-course-info-block">
        <img src="../images/courses-card/info-1.svg" alt="">
        <img src="../images/courses-card/info-2.svg" alt="">
        <img src="../images/courses-card/info-3.svg" alt="">
      </div>
      <img src="../images/courses-card/1.png" alt="course">
      <div class="course-card-info">
        <div class="course-subinfo">
          <img src="../images/courses-card/start.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">старт</p>
            <p class="course-card-text">17.09.22</p>
          </div>
          <img src="../images/courses-card/group.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">група</p>
            <p class="course-card-text">до 7 осіб</p>
          </div>
          <img src="../images/courses-card/time.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">час</p>
            <p class="course-card-text">4 міс</p>
          </div>
          <img src="../images/courses-card/price.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">ціна</p>
            <p class="course-card-text">6000 грн</p>
          </div>
        </div>
        <h3 class="course-name">Досліджуємо сонячну систему через вимірювання</h3>
      </div>
    </li>

    <li class="children-courses-card">
      <div class="additional-course-info-block">
        <img src="../images/courses-card/info-1.svg" alt="">
        <img src="../images/courses-card/info-2.svg" alt="">
        <img src="../images/courses-card/info-3.svg" alt="">
      </div>
      <img src="../images/courses-card/2.png" alt="course">
      <div class="course-card-info">
        <div class="course-subinfo">
          <img src="../images/courses-card/start.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">старт</p>
            <p class="course-card-text">17.09.22</p>
          </div>
          <img src="../images/courses-card/group.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">група</p>
            <p class="course-card-text">до 7 осіб</p>
          </div>
          <img src="../images/courses-card/time.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">час</p>
            <p class="course-card-text">4 міс</p>
          </div>
          <img src="../images/courses-card/price.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">ціна</p>
            <p class="course-card-text">6000 грн</p>
          </div>
        </div>
        <h3 class="course-name">Досліджуємо сонячну систему через вимірювання</h3>
      </div>
    </li>

    <li class="children-courses-card">
      <div class="additional-course-info-block">
        <img src="../images/courses-card/info-1.svg" alt="">
        <img src="../images/courses-card/info-2.svg" alt="">
        <img src="../images/courses-card/info-3.svg" alt="">
      </div>
      <img src="../images/courses-card/3.png" alt="course">
      <div class="course-card-info">
        <div class="course-subinfo">
          <img src="../images/courses-card/start.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">старт</p>
            <p class="course-card-text">17.09.22</p>
          </div>
          <img src="../images/courses-card/group.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">група</p>
            <p class="course-card-text">до 7 осіб</p>
          </div>
          <img src="../images/courses-card/time.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">час</p>
            <p class="course-card-text">4 міс</p>
          </div>
          <img src="../images/courses-card/price.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">ціна</p>
            <p class="course-card-text">6000 грн</p>
          </div>
        </div>
        <h3 class="course-name">Досліджуємо сонячну систему через вимірювання</h3>
      </div>
    </li>

    <li class="children-courses-card">
      <div class="additional-course-info-block">
        <img src="../images/courses-card/info-1.svg" alt="">
        <img src="../images/courses-card/info-2.svg" alt="">
        <img src="../images/courses-card/info-3.svg" alt="">
      </div>
      <img src="../images/courses-card/1.png" alt="course">
      <div class="course-card-info">
        <div class="course-subinfo">
          <img src="../images/courses-card/start.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">старт</p>
            <p class="course-card-text">17.09.22</p>
          </div>
          <img src="../images/courses-card/group.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">група</p>
            <p class="course-card-text">до 7 осіб</p>
          </div>
          <img src="../images/courses-card/time.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">час</p>
            <p class="course-card-text">4 міс</p>
          </div>
          <img src="../images/courses-card/price.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">ціна</p>
            <p class="course-card-text">6000 грн</p>
          </div>
        </div>
        <h3 class="course-name">Досліджуємо сонячну систему через вимірювання</h3>
      </div>
    </li>

    <li class="children-courses-card">
      <div class="additional-course-info-block">
        <img src="../images/courses-card/info-1.svg" alt="">
        <img src="../images/courses-card/info-2.svg" alt="">
        <img src="../images/courses-card/info-3.svg" alt="">
      </div>
      <img src="../images/courses-card/2.png" alt="course">
      <div class="course-card-info">
        <div class="course-subinfo">
          <img src="../images/courses-card/start.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">старт</p>
            <p class="course-card-text">17.09.22</p>
          </div>
          <img src="../images/courses-card/group.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">група</p>
            <p class="course-card-text">до 7 осіб</p>
          </div>
          <img src="../images/courses-card/time.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">час</p>
            <p class="course-card-text">4 міс</p>
          </div>
          <img src="../images/courses-card/price.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">ціна</p>
            <p class="course-card-text">6000 грн</p>
          </div>
        </div>
        <h3 class="course-name">Досліджуємо сонячну систему через вимірювання</h3>
      </div>
    </li>

    <li class="children-courses-card">
      <div class="additional-course-info-block">
        <img src="../images/courses-card/info-1.svg" alt="">
        <img src="../images/courses-card/info-2.svg" alt="">
        <img src="../images/courses-card/info-3.svg" alt="">
      </div>
      <img src="../images/courses-card/3.png" alt="course">
      <div class="course-card-info">
        <div class="course-subinfo">
          <img src="../images/courses-card/start.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">старт</p>
            <p class="course-card-text">17.09.22</p>
          </div>
          <img src="../images/courses-card/group.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">група</p>
            <p class="course-card-text">до 7 осіб</p>
          </div>
          <img src="../images/courses-card/time.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">час</p>
            <p class="course-card-text">4 міс</p>
          </div>
          <img src="../images/courses-card/price.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">ціна</p>
            <p class="course-card-text">6000 грн</p>
          </div>
        </div>
        <h3 class="course-name">Досліджуємо сонячну систему через вимірювання</h3>
      </div>
    </li>

    <li class="children-courses-card">
      <div class="additional-course-info-block">
        <img src="../images/courses-card/info-1.svg" alt="">
        <img src="../images/courses-card/info-2.svg" alt="">
        <img src="../images/courses-card/info-3.svg" alt="">
      </div>
      <img src="../images/courses-card/1.png" alt="course">
      <div class="course-card-info">
        <div class="course-subinfo">
          <img src="../images/courses-card/start.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">старт</p>
            <p class="course-card-text">17.09.22</p>
          </div>
          <img src="../images/courses-card/group.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">група</p>
            <p class="course-card-text">до 7 осіб</p>
          </div>
          <img src="../images/courses-card/time.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">час</p>
            <p class="course-card-text">4 міс</p>
          </div>
          <img src="../images/courses-card/price.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">ціна</p>
            <p class="course-card-text">6000 грн</p>
          </div>
        </div>
        <h3 class="course-name">Досліджуємо сонячну систему через вимірювання</h3>
      </div>
    </li>

    <li class="children-courses-card">
      <div class="additional-course-info-block">
        <img src="../images/courses-card/info-1.svg" alt="">
        <img src="../images/courses-card/info-2.svg" alt="">
        <img src="../images/courses-card/info-3.svg" alt="">
      </div>
      <img src="../images/courses-card/2.png" alt="course">
      <div class="course-card-info">
        <div class="course-subinfo">
          <img src="../images/courses-card/start.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">старт</p>
            <p class="course-card-text">17.09.22</p>
          </div>
          <img src="../images/courses-card/group.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">група</p>
            <p class="course-card-text">до 7 осіб</p>
          </div>
          <img src="../images/courses-card/time.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">час</p>
            <p class="course-card-text">4 міс</p>
          </div>
          <img src="../images/courses-card/price.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">ціна</p>
            <p class="course-card-text">6000 грн</p>
          </div>
        </div>
        <h3 class="course-name">Досліджуємо сонячну систему через вимірювання</h3>
      </div>
    </li>

    <li class="children-courses-card">
      <div class="additional-course-info-block">
        <img src="../images/courses-card/info-1.svg" alt="">
        <img src="../images/courses-card/info-2.svg" alt="">
        <img src="../images/courses-card/info-3.svg" alt="">
      </div>
      <img src="../images/courses-card/3.png" alt="course">
      <div class="course-card-info">
        <div class="course-subinfo">
          <img src="../images/courses-card/start.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">старт</p>
            <p class="course-card-text">17.09.22</p>
          </div>
          <img src="../images/courses-card/group.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">група</p>
            <p class="course-card-text">до 7 осіб</p>
          </div>
          <img src="../images/courses-card/time.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">час</p>
            <p class="course-card-text">4 міс</p>
          </div>
          <img src="../images/courses-card/price.svg" alt="start">
          <div class="course-card-text-box">
            <p class="course-card-text">ціна</p>
            <p class="course-card-text">6000 грн</p>
          </div>
        </div>
        <h3 class="course-name">Досліджуємо сонячну систему через вимірювання</h3>
      </div>
    </li>
  </ul>

  <!-- ____________________PAGINATION________________ -->
    <div id="data-container"></div>
    <div id="pagination-container"></div>
</div>
 </main>
  
  <include src="./partials/footer.html"></include> 

<script src="../js/mobMenu-nav.js"></script>
</body>
</html>

