<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vixon School</title>
    <link rel="icon" href="../images/school.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../sass/main.scss" />
  </head>
  <body>
    <include src="./partials/header.html"></include>

    <main>
      <div class="container title-container">
        <!-- ХЛЕБНЫЕ КРОШКИ -->
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="/" class="breadcrumbs__link">Главная</a>
          </li>
          <li class="breadcrumbs__item">Категория курсов</li>
        </ul>
        <h1 class="page-subtitle">Курсы от 5-9 лет</h1>
      </div>
      <div class="container children-courses-container">
        <ul class="children-courses-card-list">
          <li class="children-courses-card">
            <img src="../images/courses-card/1.png" alt="course" />
            <div class="course-card-info">
              <div class="course-subinfo">
                <img src="../images/courses-card/start.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">старт</p>
                  <p class="course-card-text">17.09.22</p>
                </div>
                <img src="../images/courses-card/group.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">группа</p>
                  <p class="course-card-text">до 7 чел</p>
                </div>
                <img src="../images/courses-card/time.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">время</p>
                  <p class="course-card-text">4 мес</p>
                </div>
                <img src="../images/courses-card/price.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">цена</p>
                  <p class="course-card-text">6000 грн</p>
                </div>
              </div>
              <h3 class="course-name">
                Исследуем солнечную систему через измерения
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <img src="../images/courses-card/2.png" alt="course" />
            <div class="course-card-info">
              <div class="course-subinfo">
                <img src="../images/courses-card/start.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">старт</p>
                  <p class="course-card-text">17.09.22</p>
                </div>
                <img src="../images/courses-card/group.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">група</p>
                  <p class="course-card-text">до 7 чел</p>
                </div>
                <img src="../images/courses-card/time.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">час</p>
                  <p class="course-card-text">4 міс</p>
                </div>
                <img src="../images/courses-card/price.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">ціна</p>
                  <p class="course-card-text">6000 грн</p>
                </div>
              </div>
              <h3 class="course-name">
                Досліджуємо сонячну систему через вимірювання
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <img src="../images/courses-card/3.png" alt="course" />
            <div class="course-card-info">
              <div class="course-subinfo">
                <img src="../images/courses-card/start.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">старт</p>
                  <p class="course-card-text">17.09.22</p>
                </div>
                <img src="../images/courses-card/group.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">група</p>
                  <p class="course-card-text">до 7 осіб</p>
                </div>
                <img src="../images/courses-card/time.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">час</p>
                  <p class="course-card-text">4 міс</p>
                </div>
                <img src="../images/courses-card/price.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">ціна</p>
                  <p class="course-card-text">6000 грн</p>
                </div>
              </div>
              <h3 class="course-name">
                Досліджуємо сонячну систему через вимірювання
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <img src="../images/courses-card/1.png" alt="course" />
            <div class="course-card-info">
              <div class="course-subinfo">
                <img src="../images/courses-card/start.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">старт</p>
                  <p class="course-card-text">17.09.22</p>
                </div>
                <img src="../images/courses-card/group.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">група</p>
                  <p class="course-card-text">до 7 осіб</p>
                </div>
                <img src="../images/courses-card/time.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">час</p>
                  <p class="course-card-text">4 міс</p>
                </div>
                <img src="../images/courses-card/price.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">ціна</p>
                  <p class="course-card-text">6000 грн</p>
                </div>
              </div>
              <h3 class="course-name">
                Досліджуємо сонячну систему через вимірювання
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <img src="../images/courses-card/2.png" alt="course" />
            <div class="course-card-info">
              <div class="course-subinfo">
                <img src="../images/courses-card/start.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">старт</p>
                  <p class="course-card-text">17.09.22</p>
                </div>
                <img src="../images/courses-card/group.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">група</p>
                  <p class="course-card-text">до 7 осіб</p>
                </div>
                <img src="../images/courses-card/time.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">час</p>
                  <p class="course-card-text">4 міс</p>
                </div>
                <img src="../images/courses-card/price.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">ціна</p>
                  <p class="course-card-text">6000 грн</p>
                </div>
              </div>
              <h3 class="course-name">
                Досліджуємо сонячну систему через вимірювання
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <img src="../images/courses-card/3.png" alt="course" />
            <div class="course-card-info">
              <div class="course-subinfo">
                <img src="../images/courses-card/start.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">старт</p>
                  <p class="course-card-text">17.09.22</p>
                </div>
                <img src="../images/courses-card/group.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">група</p>
                  <p class="course-card-text">до 7 осіб</p>
                </div>
                <img src="../images/courses-card/time.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">час</p>
                  <p class="course-card-text">4 міс</p>
                </div>
                <img src="../images/courses-card/price.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">ціна</p>
                  <p class="course-card-text">6000 грн</p>
                </div>
              </div>
              <h3 class="course-name">
                Досліджуємо сонячну систему через вимірювання
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <img src="../images/courses-card/1.png" alt="course" />
            <div class="course-card-info">
              <div class="course-subinfo">
                <img src="../images/courses-card/start.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">старт</p>
                  <p class="course-card-text">17.09.22</p>
                </div>
                <img src="../images/courses-card/group.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">група</p>
                  <p class="course-card-text">до 7 осіб</p>
                </div>
                <img src="../images/courses-card/time.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">час</p>
                  <p class="course-card-text">4 міс</p>
                </div>
                <img src="../images/courses-card/price.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">ціна</p>
                  <p class="course-card-text">6000 грн</p>
                </div>
              </div>
              <h3 class="course-name">
                Досліджуємо сонячну систему через вимірювання
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <img src="../images/courses-card/2.png" alt="course" />
            <div class="course-card-info">
              <div class="course-subinfo">
                <img src="../images/courses-card/start.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">старт</p>
                  <p class="course-card-text">17.09.22</p>
                </div>
                <img src="../images/courses-card/group.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">група</p>
                  <p class="course-card-text">до 7 осіб</p>
                </div>
                <img src="../images/courses-card/time.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">час</p>
                  <p class="course-card-text">4 міс</p>
                </div>
                <img src="../images/courses-card/price.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">ціна</p>
                  <p class="course-card-text">6000 грн</p>
                </div>
              </div>
              <h3 class="course-name">
                Досліджуємо сонячну систему через вимірювання
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <img src="../images/courses-card/3.png" alt="course" />
            <div class="course-card-info">
              <div class="course-subinfo">
                <img src="../images/courses-card/start.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">старт</p>
                  <p class="course-card-text">17.09.22</p>
                </div>
                <img src="../images/courses-card/group.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">група</p>
                  <p class="course-card-text">до 7 осіб</p>
                </div>
                <img src="../images/courses-card/time.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">час</p>
                  <p class="course-card-text">4 міс</p>
                </div>
                <img src="../images/courses-card/price.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">ціна</p>
                  <p class="course-card-text">6000 грн</p>
                </div>
              </div>
              <h3 class="course-name">
                Досліджуємо сонячну систему через вимірювання
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <img src="../images/courses-card/1.png" alt="course" />
            <div class="course-card-info">
              <div class="course-subinfo">
                <img src="../images/courses-card/start.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">старт</p>
                  <p class="course-card-text">17.09.22</p>
                </div>
                <img src="../images/courses-card/group.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">група</p>
                  <p class="course-card-text">до 7 осіб</p>
                </div>
                <img src="../images/courses-card/time.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">час</p>
                  <p class="course-card-text">4 міс</p>
                </div>
                <img src="../images/courses-card/price.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">ціна</p>
                  <p class="course-card-text">6000 грн</p>
                </div>
              </div>
              <h3 class="course-name">
                Досліджуємо сонячну систему через вимірювання
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <img src="../images/courses-card/2.png" alt="course" />
            <div class="course-card-info">
              <div class="course-subinfo">
                <img src="../images/courses-card/start.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">старт</p>
                  <p class="course-card-text">17.09.22</p>
                </div>
                <img src="../images/courses-card/group.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">група</p>
                  <p class="course-card-text">до 7 осіб</p>
                </div>
                <img src="../images/courses-card/time.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">час</p>
                  <p class="course-card-text">4 міс</p>
                </div>
                <img src="../images/courses-card/price.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">ціна</p>
                  <p class="course-card-text">6000 грн</p>
                </div>
              </div>
              <h3 class="course-name">
                Досліджуємо сонячну систему через вимірювання
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <img src="../images/courses-card/3.png" alt="course" />
            <div class="course-card-info">
              <div class="course-subinfo">
                <img src="../images/courses-card/start.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">старт</p>
                  <p class="course-card-text">17.09.22</p>
                </div>
                <img src="../images/courses-card/group.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">група</p>
                  <p class="course-card-text">до 7 осіб</p>
                </div>
                <img src="../images/courses-card/time.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">час</p>
                  <p class="course-card-text">4 міс</p>
                </div>
                <img src="../images/courses-card/price.svg" alt="start" />
                <div class="course-card-text-box">
                  <p class="course-card-text">ціна</p>
                  <p class="course-card-text">6000 грн</p>
                </div>
              </div>
              <h3 class="course-name">
                Досліджуємо сонячну систему через вимірювання
              </h3>
            </div>
          </li>
        </ul>

        <!-- ____________________PAGINATION________________ -->
        <div id="data-container"></div>
        <div id="pagination-container"></div>
      </div>
    </main>

    <include src="./partials/footer.html"></include>

    <script type="module" src="../js/mobMenu-nav.js"></script>
    <script src="../js/courses.js" type="module"></script>
  </body>
</html>
