<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>
    <title>Vixon School</title>
    <link rel="icon" href="../images/school.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../sass/main.scss" />
  </head>
  <body>
    <include src="./partials/header.html"></include>

    <main class="main">
      <div class="container base-container">
        <!-- ХЛЕБНЫЕ КРОШКИ -->
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="/src/index.html" class="breadcrumbs__link">Главная</a>
          </li>
          <li class="breadcrumbs__item">Категория курсов</li>
        </ul>
        <h1 class="page-subtitle">Курсы от 5-9 лет</h1>

        <ul class="children-courses-cardset">
          <li class="children-courses-card" id="course1">
            <a href="/src/partials/current-children-course.html">
              <img
                src="../images/courses-card/1.png"
                alt="course"
                data-action="open"
              />
            </a>
            <div class="course-card-info">
              <div class="course-subinfo">
                <p class="course-card-text" data-start>старт 17.09.22</p>
                <p class="course-card-text" data-group>группа до 7 чел</p>
                <p class="course-card-text" data-time>время 4 мес</p>
                <p class="course-card-text" data-price>цена 6000 грн</p>
              </div>
              <h3 class="course-name" data-action="open">
                <a
                  class="course-link"
                  href="/src/partials/current-children-course.html"
                  >Исследуем солнечную систему через измерения</a
                >
              </h3>
            </div>
          </li>

          <li class="children-courses-card" id="course2">
            <a href="/src/partials/current-children-course.html">
              <img
                src="../images/courses-card/2.png"
                alt="course"
                data-action="open"
            /></a>
            <div class="course-card-info">
              <div class="course-subinfo">
                <p class="course-card-text" data-start>старт 17.09.22</p>
                <p class="course-card-text" data-group>группа до 7 чел</p>
                <p class="course-card-text" data-time>время 4 мес</p>
                <p class="course-card-text" data-price>цена 6000 грн</p>
              </div>
              <h3 class="course-name" data-action="open">
                <a
                  class="course-link"
                  href="/src/partials/current-children-course.html"
                  >Исследуем солнечную систему через измерения</a
                >
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <a href="/src/partials/current-children-course.html">
              <img
                src="../images/courses-card/3.png"
                alt="course"
                data-action="open"
            /></a>

            <div class="course-card-info">
              <div class="course-subinfo">
                <p class="course-card-text" data-start>старт 17.09.22</p>
                <p class="course-card-text" data-group>группа до 7 чел</p>
                <p class="course-card-text" data-time>время 4 мес</p>
                <p class="course-card-text" data-price>цена 6000 грн</p>
              </div>
              <h3 class="course-name" data-action="open">
                <a
                  class="course-link"
                  href="/src/partials/current-children-course.html"
                  >Исследуем солнечную систему через измерения</a
                >
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <a href="/src/partials/current-children-course.html">
              <img
                src="../images/courses-card/1.png"
                alt="course"
                data-action="open"
              />
            </a>
            <div class="course-card-info">
              <div class="course-subinfo">
                <p class="course-card-text" data-start>старт 17.09.22</p>
                <p class="course-card-text" data-group>группа до 7 чел</p>
                <p class="course-card-text" data-time>время 4 мес</p>
                <p class="course-card-text" data-price>цена 6000 грн</p>
              </div>
              <h3 class="course-name" data-action="open">
                <a
                  class="course-link"
                  href="/src/partials/current-children-course.html"
                  >Исследуем солнечную систему через измерения</a
                >
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <a href="/src/partials/current-children-course.html">
              <img
                src="../images/courses-card/2.png"
                alt="course"
                data-action="open"
              />
            </a>
            <div class="course-card-info">
              <div class="course-subinfo">
                <p class="course-card-text" data-start>старт 17.09.22</p>
                <p class="course-card-text" data-group>группа до 7 чел</p>
                <p class="course-card-text" data-time>время 4 мес</p>
                <p class="course-card-text" data-price>цена 6000 грн</p>
              </div>
              <h3 class="course-name" data-action="open">
                <a
                  class="course-link"
                  href="/src/partials/current-children-course.html"
                  >Исследуем солнечную систему через измерения</a
                >
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <a href="/src/partials/current-children-course.html">
              <img
                src="../images/courses-card/3.png"
                alt="course"
                data-action="open"
              />
            </a>
            <div class="course-card-info">
              <div class="course-subinfo">
                <p class="course-card-text" data-start>старт 17.09.22</p>
                <p class="course-card-text" data-group>группа до 7 чел</p>
                <p class="course-card-text" data-time>время 4 мес</p>
                <p class="course-card-text" data-price>цена 6000 грн</p>
              </div>
              <h3 class="course-name" data-action="open">
                <a
                  class="course-link"
                  href="/src/partials/current-children-course.html"
                  >Исследуем солнечную систему через измерения</a
                >
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <a href="/src/partials/current-children-course.html">
              <img
                src="../images/courses-card/1.png"
                alt="course"
                data-action="open"
              />
            </a>
            <div class="course-card-info">
              <div class="course-subinfo">
                <p class="course-card-text" data-start>старт 17.09.22</p>
                <p class="course-card-text" data-group>группа до 7 чел</p>
                <p class="course-card-text" data-time>время 4 мес</p>
                <p class="course-card-text" data-price>цена 6000 грн</p>
              </div>
              <h3 class="course-name" data-action="open">
                <a
                  class="course-link"
                  href="/src/partials/current-children-course.html"
                  >Исследуем солнечную систему через измерения</a
                >
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <a href="/src/partials/current-children-course.html">
              <img
                src="../images/courses-card/2.png"
                alt="course"
                data-action="open"
              />
            </a>
            <div class="course-card-info">
              <div class="course-subinfo">
                <p class="course-card-text" data-start>старт 17.09.22</p>
                <p class="course-card-text" data-group>группа до 7 чел</p>
                <p class="course-card-text" data-time>время 4 мес</p>
                <p class="course-card-text" data-price>цена 6000 грн</p>
              </div>
              <h3 class="course-name" data-action="open">
                <a
                  class="course-link"
                  href="/src/partials/current-children-course.html"
                  >Исследуем солнечную систему через измерения</a
                >
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <a href="/src/partials/current-children-course.html">
              <img
                src="../images/courses-card/3.png"
                alt="course"
                data-action="open"
              />
            </a>
            <div class="course-card-info">
              <div class="course-subinfo">
                <p class="course-card-text" data-start>старт 17.09.22</p>
                <p class="course-card-text" data-group>группа до 7 чел</p>
                <p class="course-card-text" data-time>время 4 мес</p>
                <p class="course-card-text" data-price>цена 6000 грн</p>
              </div>
              <h3 class="course-name" data-action="open">
                <a
                  class="course-link"
                  href="/src/partials/current-children-course.html"
                  >Исследуем солнечную систему через измерения</a
                >
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <a href="/src/partials/current-children-course.html">
              <img
                src="../images/courses-card/1.png"
                alt="course"
                data-action="open"
              />
            </a>
            <div class="course-card-info">
              <div class="course-subinfo">
                <p class="course-card-text" data-start>старт 17.09.22</p>
                <p class="course-card-text" data-group>группа до 7 чел</p>
                <p class="course-card-text" data-time>время 4 мес</p>
                <p class="course-card-text" data-price>цена 6000 грн</p>
              </div>
              <h3 class="course-name" data-action="open">
                <a
                  class="course-link"
                  href="/src/partials/current-children-course.html"
                  >Исследуем солнечную систему через измерения</a
                >
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <a href="/src/partials/current-children-course.html">
              <img
                src="../images/courses-card/2.png"
                alt="course"
                data-action="open"
              />
            </a>
            <div class="course-card-info">
              <div class="course-subinfo">
                <p class="course-card-text" data-start>старт 17.09.22</p>
                <p class="course-card-text" data-group>группа до 7 чел</p>
                <p class="course-card-text" data-time>время 4 мес</p>
                <p class="course-card-text" data-price>цена 6000 грн</p>
              </div>
              <h3 class="course-name" data-action="open">
                <a
                  class="course-link"
                  href="/src/partials/current-children-course.html"
                  >Исследуем солнечную систему через измерения</a
                >
              </h3>
            </div>
          </li>

          <li class="children-courses-card">
            <a href="/src/partials/current-children-course.html">
              <img
                src="../images/courses-card/3.png"
                alt="course"
                data-action="open"
              />
            </a>
            <div class="course-card-info">
              <div class="course-subinfo">
                <p class="course-card-text" data-start>старт 17.09.22</p>
                <p class="course-card-text" data-group>группа до 7 чел</p>
                <p class="course-card-text" data-time>время 4 мес</p>
                <p class="course-card-text" data-price>цена 6000 грн</p>
              </div>
              <h3 class="course-name" data-action="open">
                <a
                  class="course-link"
                  href="/src/partials/current-children-course.html"
                  >Исследуем солнечную систему через измерения</a
                >
              </h3>
            </div>
          </li>
        </ul>
        <a href="/" class="secondary-btn ref-btn">На главную</a>
      </div>
      <include src="./partials/arr-up.html"></include>
    </main>

    <include src="./partials/footer.html"></include>

    <script type="module" src="../js/scroll-up-page.js"></script>
    <script src="../js/mobMenu-nav.js" type="module"></script>
  </body>
</html>
