<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vixon School</title>
    <link rel="icon" href="../images/school.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../sass/main.scss" />
  </head>
  <body>
    <include src="./partials/header.html"></include>

    <main>
      <section class="about-section">
        <div class="container">
          <h1 class="page-subtitle">Contacts</h1>
          <div id="map">
            <iframe
              class="map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d259418.77268977568!2d24.408611850417056!3d59.47127401861375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46929499df5616bf%3A0x400b36d18fc6270!2z0KLQsNC70LvQuNC9LCDQrdGB0YLQvtC90LjRjw!5e0!3m2!1sru!2sua!4v1691174412071!5m2!1sru!2sua"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </section>
    </main>

    <include src="./partials/footer.html"></include>
  </body>
</html>
