<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>
    <title>Vixon School</title>
    <link rel="icon" href="../images/school.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../sass/main.scss" />
  </head>
  <body>
    <include src="./partials/header.html"></include>

    <main class="main">
      <div class="container title-container">
        <!-- ХЛЕБНЫЕ КРОШКИ -->
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="/" class="breadcrumbs__link">Главная</a>
          </li>
          <li class="breadcrumbs__item">Контакты</li>
        </ul>
        <h1 class="page-subtitle">Контакты</h1>
      </div>
      <section class="about-section">
        <div class="container">
          <div class="company-location-wrapper">
            <div class="map-wrapper" id="googleMap"></div>
            <div class="company-meta-card">
              <h3 class="about-block__title">Vixon School</h3>
              <adress class="company-meta-card__adress">
                город Киев, ул. Маршала Рыбалко 1
              </adress>
              <div class="company-meta-card__info">
                <div class="office-hours-block">
                  <div class="office-hours-block__days">
                    <p class="office-hours-block__text">
                      Понедельник - Пятница:
                    </p>
                    <p class="office-hours-block__text">
                      Суббота - Воскресенье:
                    </p>
                  </div>
                  <div class="office-hours-block__time">
                    <p class="office-hours-block__daytime">9:00 - 20:00</p>
                    <p class="office-hours-block__daytime">9:00 - 17:30</p>
                  </div>
                </div>
                <address>
                  <a
                    href="mailto:info@rcproperty.ru"
                    class="company-meta-card__mail-link"
                    >info@rcproperty.ru</a
                  >
                  <a
                    href="tel:+8(054) 378 282 21"
                    class="company-meta-card__link"
                    >+8(054) 378 282 21</a
                  >
                  <a
                    href="tel:+8(054) 378 282 21"
                    class="company-meta-card__link"
                    >+8(054) 378 282 21</a
                  >
                  <a
                    href="tel:+8(054) 378 282 21"
                    class="company-meta-card__link"
                    >+8(054) 378 282 21</a
                  >
                </address>
              </div>
            </div>
          </div>

          <!-- FEEDBACK-FORM -->

          <include src="./partials/feedback-form.html"></include>

          <div class="text-wrapper">
            <p class="contacts-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              scelerisque ultricies senectus et. Dui elit egestas vitae gravida
              rhoncus ipsum augue augue. Mattis nunc nec nulla ultricies sed est
              feugiat consectetur. Habitant amet elit purus vitae ut nec erat
              sapien. In nunc a ac et vulputate donec sit. Sed massa amet
              convallis nascetur magnis auctor amet, fermentum, lobortis.
            </p>
            <p class="contacts-text">
              Pellentesque eu aliquam, sed sed nibh curabitur tellus. Sed
              iaculis amet non nec tellus at nunc, nisi, eget. Volutpat erat vel
              non id pellentesque egestas fusce ac.
            </p>
            <p class="contacts-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              scelerisque ultricies senectus et. Dui elit egestas vitae gravida
              rhoncus ipsum augue augue. Mattis nunc nec nulla ultricies sed est
              feugiat consectetur. Habitant amet elit purus vitae ut nec erat
              sapien. In nunc a ac et vulputate donec sit. Sed massa amet
              convallis nascetur magnis auctor amet, fermentum, lobortis.
            </p>
          </div>
        </div>
      </section>
      <include src="./partials/arr-up.html"></include>
    </main>

    <include src="./partials/footer.html"></include>

    <script src="../js/map.js"></script>
    <script type="module" src="../js/mobMenu-nav.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCm-_7lBESQXIEwyhVDWp9uCqZK6nOvU6I&callback=myMap"></script>
    <script type="module" src="../js/scroll-up-page.js"></script>
  </body>
</html>
