<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vixon School</title>
    <link rel="icon" href="../images/school.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../sass/main.scss" />
  </head>
  <body>
    <include src="./partials/header.html"></include>
    <main>
      <div class="container base-container">
        <!-- ХЛЕБНЫЕ КРОШКИ -->
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="/" class="breadcrumbs__link">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a
              href="/src/partials/teacher-courses.html"
              class="breadcrumbs__link"
              >Тренинги для учителей</a
            >
          </li>
          <li class="breadcrumbs__item">
            Анатомия стресса: возрастные и поведенческие особенности
          </li>
        </ul>

        <section class="training-section">
          <h1 class="page-subtitle">
            Анатомия стресса: возрастные и поведенческие особенности
          </h1>
          <article class="course-card">
            <div class="training-card__wrapper">
              <div class="top-content-box">
                <div class="course-img-box">
                  <img
                    src="../images/teachers-page/1.png"
                    alt="course image"
                    class="course-card__img"
                  />
                </div>
                <div class="meta-box">
                  <ul class="meta-list">
                    <li class="meta-list__item">
                      <p class="meta-list__text icon-clock">время 4 мес</p>
                    </li>
                    <li class="meta-list__item">
                      <p class="meta-list__text icon-flag">старт 17.09.22</p>
                    </li>
                    <li class="meta-list__item">
                      <p class="meta-list__text icon-users">
                        группа до 7 человек
                      </p>
                    </li>
                    <li class="meta-list__item">
                      <p class="meta-list__text icon-pencil">
                        формат занятий по 2 занятия в неделю продолжительность 1
                        час
                      </p>
                    </li>
                    <li class="meta-list__item">
                      <p class="meta-list__text icon-book">
                        Учебные предметы: Математика, Естествознание, Искусство
                      </p>
                    </li>
                    <li class="meta-list__item">
                      <p class="meta-list__text icon-price">цена 6000 грн</p>
                    </li>
                    <li class="meta-list__item icon-calendar">
                      <input type="text" id="datepicker1" class="datepicker" />
                    </li>
                  </ul>
                  <button class="btn" data-open-modal>записаться</button>
                </div>
              </div>
              <ul class="descr-list">
                <li class="description-item">
                  <h4 class="icon-manuscript descr">описание</h4>
                  <p class="descr__text">
                    Во время вебинара выясним как организм человека реагирует на
                    стресс; как стресс влияет на когнитивные функции мозга и как
                    разные типы стресса влияют на процесс обучения детей
                    дошкольного и младшего школьного возраста; рассмотрим пути
                    преодоления негативных последствий стресса.
                  </p>
                </li>
                <li class="description-item">
                  <h4 class="icon-content descr">содержание тренинга</h4>
                  <p class="descr__text">
                    Во время вебинара выясним как организм человека реагирует на
                    стресс; как стресс влияет на когнитивные функции мозга и как
                    разные типы стресса влияют на процесс обучения детей
                    дошкольного и младшего школьного возраста; рассмотрим пути
                    преодоления негативных последствий стресса.
                  </p>
                </li>
                <li class="description-item">
                  <h4 class="icon-teacher descr">информация о спикере</h4>
                  <p class="descr__text">
                    Во время вебинара выясним как организм человека реагирует на
                    стресс; как стресс влияет на когнитивные функции мозга и как
                    разные типы стресса влияют на процесс обучения детей
                    дошкольного и младшего школьного возраста; рассмотрим пути
                    преодоления негативных последствий стресса.
                  </p>
                </li>
                <li class="description-item">
                  <h4 class="icon-diploma descr">
                    информация о получении сертификата
                  </h4>
                  <p class="descr__text">
                    Во время вебинара выясним как организм человека реагирует на
                    стресс; как стресс влияет на когнитивные функции мозга и как
                    разные типы стресса влияют на процесс обучения детей
                    дошкольного и младшего школьного возраста; рассмотрим пути
                    преодоления негативных последствий стресса.
                  </p>
                </li>
              </ul>
            </div>
            <div class="acc-wrapper">
              <h2 class="page-subtitle">Частые Вопросы</h2>
              <ol class="accordion acc">
                <li class="accordion__item">
                  <div class="accordion__title-container">
                    <h3 class="accordion__item-title">
                      Выясним как организм человека реагирует на стресс; как
                      стресс влияет на когнитивнын функции
                    </h3>
                  </div>
                  <div class="accordion__text-container">
                    <p class="accordion__text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Lectus nisl, imperdiet quam odio vivamus. Id integer
                      aliquam dolor aliquet arcu. Pellentesque tempus mauris
                      varius lorem venenatis donec porta sit diam. Convallis
                      duis tempus neque adipiscing ultrices egestas. Lorem ipsum
                      dolor sit amet, consectetur adipiscing elit. Lectus nisl,
                      imperdiet quam odio vivamus. Id integer aliquam dolor
                      aliquet arcu. Pellentesque
                    </p>
                  </div>
                </li>
                <li class="accordion__item">
                  <div class="accordion__title-container">
                    <h3 class="accordion__item-title">
                      Выясним как организм человека реагирует на стресс; как
                      стресс влияет на когнитивнын функции
                    </h3>
                  </div>
                  <div class="accordion__text-container">
                    <p class="accordion__text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Lectus nisl, imperdiet quam odio vivamus. Id integer
                      aliquam dolor aliquet arcu. Pellentesque tempus mauris
                      varius lorem venenatis donec porta sit diam. Convallis
                      duis tempus neque adipiscing ultrices egestas. Lorem ipsum
                      dolor sit amet, consectetur adipiscing elit. Lectus nisl,
                      imperdiet quam odio vivamus. Id integer aliquam dolor
                      aliquet arcu. Pellentesque
                    </p>
                  </div>
                </li>
                <li class="accordion__item">
                  <div class="accordion__title-container">
                    <h3 class="accordion__item-title">
                      Выясним как организм человека реагирует на стресс; как
                      стресс влияет на когнитивнын функции
                    </h3>
                  </div>
                  <div class="accordion__text-container">
                    <p class="accordion__text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Lectus nisl, imperdiet quam odio vivamus. Id integer
                      aliquam dolor aliquet arcu. Pellentesque tempus mauris
                      varius lorem venenatis donec porta sit diam. Convallis
                      duis tempus neque adipiscing ultrices egestas. Lorem ipsum
                      dolor sit amet, consectetur adipiscing elit. Lectus nisl,
                      imperdiet quam odio vivamus. Id integer aliquam dolor
                      aliquet arcu. Pellentesque
                    </p>
                  </div>
                </li>
                <li class="accordion__item">
                  <div class="accordion__title-container">
                    <h3 class="accordion__item-title">
                      Выясним как организм человека реагирует на стресс; как
                      стресс влияет на когнитивнын функции
                    </h3>
                  </div>
                  <div class="accordion__text-container">
                    <p class="accordion__text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Lectus nisl, imperdiet quam odio vivamus. Id integer
                      aliquam dolor aliquet arcu. Pellentesque tempus mauris
                      varius lorem venenatis donec porta sit diam. Convallis
                      duis tempus neque adipiscing ultrices egestas. Lorem ipsum
                      dolor sit amet, consectetur adipiscing elit. Lectus nisl,
                      imperdiet quam odio vivamus. Id integer aliquam dolor
                      aliquet arcu. Pellentesque
                    </p>
                  </div>
                </li>
                <li class="accordion__item">
                  <div class="accordion__title-container">
                    <h3 class="accordion__item-title">
                      Выясним как организм человека реагирует на стресс; как
                      стресс влияет на когнитивнын функции
                    </h3>
                  </div>
                  <div class="accordion__text-container">
                    <p class="accordion__text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Lectus nisl, imperdiet quam odio vivamus. Id integer
                      aliquam dolor aliquet arcu. Pellentesque tempus mauris
                      varius lorem venenatis donec porta sit diam. Convallis
                      duis tempus neque adipiscing ultrices egestas. Lorem ipsum
                      dolor sit amet, consectetur adipiscing elit. Lectus nisl,
                      imperdiet quam odio vivamus. Id integer aliquam dolor
                      aliquet arcu. Pellentesque
                    </p>
                  </div>
                </li>
              </ol>
              <button class="btn acc__signup-btn" data-open-modal>
                записаться
              </button>
            </div>
          </article>
          <!-- <div class="acc-wrapper">
            <h2 class="page-subtitle">Частые Вопросы</h2>
            <ol class="accordion acc">
              <li class="accordion__item">
                <div class="accordion__title-container">
                  <h3 class="accordion__item-title">
                    Выясним как организм человека реагирует на стресс; как
                    стресс влияет на когнитивнын функции
                  </h3>
                </div>
                <div class="accordion__text-container">
                  <p class="accordion__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lectus nisl, imperdiet quam odio vivamus. Id integer aliquam
                    dolor aliquet arcu. Pellentesque tempus mauris varius lorem
                    venenatis donec porta sit diam. Convallis duis tempus neque
                    adipiscing ultrices egestas. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Lectus nisl, imperdiet quam
                    odio vivamus. Id integer aliquam dolor aliquet arcu.
                    Pellentesque
                  </p>
                </div>
              </li>
              <li class="accordion__item">
                <div class="accordion__title-container">
                  <h3 class="accordion__item-title">
                    Выясним как организм человека реагирует на стресс; как
                    стресс влияет на когнитивнын функции
                  </h3>
                </div>
                <div class="accordion__text-container">
                  <p class="accordion__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lectus nisl, imperdiet quam odio vivamus. Id integer aliquam
                    dolor aliquet arcu. Pellentesque tempus mauris varius lorem
                    venenatis donec porta sit diam. Convallis duis tempus neque
                    adipiscing ultrices egestas. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Lectus nisl, imperdiet quam
                    odio vivamus. Id integer aliquam dolor aliquet arcu.
                    Pellentesque
                  </p>
                </div>
              </li>
              <li class="accordion__item">
                <div class="accordion__title-container">
                  <h3 class="accordion__item-title">
                    Выясним как организм человека реагирует на стресс; как
                    стресс влияет на когнитивнын функции
                  </h3>
                </div>
                <div class="accordion__text-container">
                  <p class="accordion__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lectus nisl, imperdiet quam odio vivamus. Id integer aliquam
                    dolor aliquet arcu. Pellentesque tempus mauris varius lorem
                    venenatis donec porta sit diam. Convallis duis tempus neque
                    adipiscing ultrices egestas. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Lectus nisl, imperdiet quam
                    odio vivamus. Id integer aliquam dolor aliquet arcu.
                    Pellentesque
                  </p>
                </div>
              </li>
              <li class="accordion__item">
                <div class="accordion__title-container">
                  <h3 class="accordion__item-title">
                    Выясним как организм человека реагирует на стресс; как
                    стресс влияет на когнитивнын функции
                  </h3>
                </div>
                <div class="accordion__text-container">
                  <p class="accordion__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lectus nisl, imperdiet quam odio vivamus. Id integer aliquam
                    dolor aliquet arcu. Pellentesque tempus mauris varius lorem
                    venenatis donec porta sit diam. Convallis duis tempus neque
                    adipiscing ultrices egestas. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Lectus nisl, imperdiet quam
                    odio vivamus. Id integer aliquam dolor aliquet arcu.
                    Pellentesque
                  </p>
                </div>
              </li>
              <li class="accordion__item">
                <div class="accordion__title-container">
                  <h3 class="accordion__item-title">
                    Выясним как организм человека реагирует на стресс; как
                    стресс влияет на когнитивнын функции
                  </h3>
                </div>
                <div class="accordion__text-container">
                  <p class="accordion__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lectus nisl, imperdiet quam odio vivamus. Id integer aliquam
                    dolor aliquet arcu. Pellentesque tempus mauris varius lorem
                    venenatis donec porta sit diam. Convallis duis tempus neque
                    adipiscing ultrices egestas. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Lectus nisl, imperdiet quam
                    odio vivamus. Id integer aliquam dolor aliquet arcu.
                    Pellentesque
                  </p>
                </div>
              </li>
            </ol>
            <button class="btn acc__signup-btn" data-open-modal>
              записаться
            </button>
          </div> -->
        </section>
        <section class="more-trainings">
          <h2 class="subtitle">Другие тренинги</h2>
          <div class="course-cardset">
            <article class="course-card">
              <h3 class="course-card__title">
                Анатомия стресса: возрастные и поведенчиские особенности
              </h3>
              <div class="course-card__wrapper">
                <div class="top-content-box">
                  <div class="img-box">
                    <img
                      src="../images/teachers-page/3.png"
                      alt="course image"
                      class="course-card__img"
                    />
                    <a class="btn img-box__btn" href="./cur-teacher-course.html"
                      >Показать больше</a
                    >
                  </div>
                  <div class="meta-box">
                    <ul class="meta-list">
                      <li class="meta-list__item">
                        <p class="meta-list__text icon-clock">2 часа</p>
                      </li>
                      <li class="meta-list__item">
                        <p class="meta-list__text icon-flag">
                          16.08 (вторник) 18:00
                        </p>
                      </li>
                      <li class="meta-list__item">
                        <p class="meta-list__text icon-person">
                          Виктория Лещенко
                        </p>
                      </li>
                      <li class="meta-list__item">
                        <p class="meta-list__text icon-pencil">
                          Тип повышение квалификации: вебинар
                        </p>
                      </li>
                      <li class="meta-list__item">
                        <p class="meta-list__text icon-book">
                          Форма повышение квалификации: online
                        </p>
                      </li>
                      <li class="meta-list__item">
                        <p class="meta-list__text icon-price">цена 6000 грн</p>
                      </li>
                      <li class="meta-list__item icon-calendar">
                        <input
                          type="text"
                          id="datepicker2"
                          class="datepicker"
                        />
                      </li>
                    </ul>
                    <a
                      class="btn teacher-courses-card-btn"
                      href="./cur-teacher-course.html"
                    >
                      Узнать больше
                    </a>
                  </div>
                </div>
                <div class="description description-box">
                  <h4 class="description__title">краткое описание</h4>
                  <p class="description__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Libero magni dignissimos reprehenderit, a saepe minus illo
                    corrupti tempora, sint, soluta provident ducimus ipsam
                    debitis sequi vitae dolorum quam iusto cum.
                  </p>
                </div>
              </div>
            </article>
            <article class="course-card">
              <h3 class="course-card__title">
                Анатомия стресса: возрастные и поведенчиские особенности
              </h3>
              <div class="course-card__wrapper">
                <div class="top-content-box">
                  <div class="img-box">
                    <img
                      src="../images/teachers-page/4.png"
                      alt="course image"
                      class="course-card__img"
                    />
                    <a class="btn img-box__btn" href="./cur-teacher-course.html"
                      >Показать больше</a
                    >
                  </div>
                  <div class="meta-box">
                    <ul class="meta-list">
                      <li class="meta-list__item">
                        <p class="meta-list__text icon-clock">2 часа</p>
                      </li>
                      <li class="meta-list__item">
                        <p class="meta-list__text icon-flag">
                          16.08 (вторник) 18:00
                        </p>
                      </li>
                      <li class="meta-list__item">
                        <p class="meta-list__text icon-person">
                          Виктория Лещенко
                        </p>
                      </li>
                      <li class="meta-list__item">
                        <p class="meta-list__text icon-pencil">
                          Тип повышение квалификации: вебинар
                        </p>
                      </li>
                      <li class="meta-list__item">
                        <p class="meta-list__text icon-book">
                          Форма повышение квалификации: online
                        </p>
                      </li>
                      <li class="meta-list__item">
                        <p class="meta-list__text icon-price">цена 6000 грн</p>
                      </li>
                      <li class="meta-list__item icon-calendar">
                        <input
                          type="text"
                          id="datepicker3"
                          class="datepicker"
                        />
                      </li>
                    </ul>
                    <a
                      class="btn teacher-courses-card-btn"
                      href="./cur-teacher-course.html"
                      >Узнать больше</a
                    >
                  </div>
                </div>
                <div class="description description-box">
                  <h4 class="description__title">краткое описание</h4>
                  <p class="description__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Libero magni dignissimos reprehenderit, a saepe minus illo
                    corrupti tempora, sint, soluta provident ducimus ipsam
                    debitis sequi vitae dolorum quam iusto cum.
                  </p>
                </div>
              </div>
            </article>
          </div>
        </section>
        <include src="./partials/popup.html"> </include>
      </div>
    </main>
    <include src="./partials/footer.html"></include>

    <script src="../js/breadcrumbs.js" type="module"></script>
    <script src="../js/teacher-courses.js" type="module"></script>
    <script src="../js/current-children-course.js" type="module"></script>
    <script src="../js/mobMenu-nav.js" type="module"></script>
    <script src="../js/questions-accordion.js" type="module"></script>
    <script src="../js/modal.js" type="module"></script>
  </body>
</html>
