<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vixon School</title>
    <link rel="icon" href="../images/school.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../sass/main.scss" />
  </head>
  <body>
    <include src="./partials/header.html"></include>
    <main>
      <div class="container base-container">
        <!-- ХЛЕБНЫЕ КРОШКИ -->
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="/" class="breadcrumbs__link">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a
              href="/src/partials/children-courses.html"
              class="breadcrumbs__link"
              >Категория курсов</a
            >
          </li>
          <li class="breadcrumbs__item">
            Исследуем солнечную систему через измерения
          </li>
        </ul>
        <h1 class="page-subtitle">
          Исследуем солнечную систему через измерения
        </h1>
        <article class="course-card">
          <div class="course-card__wrapper">
            <div class="course-img-box">
              <img
                src="../images/teachers-page/1.png"
                alt="course image"
                class="course-card__img"
              />
            </div>
            <div class="meta-box">
              <ul class="meta-list">
                <li class="meta-list__item">
                  <p class="meta-list__text icon-clock">время 4 мес</p>
                </li>
                <li class="meta-list__item">
                  <p class="meta-list__text icon-flag">старт 17.09.22</p>
                </li>
                <li class="meta-list__item">
                  <p class="meta-list__text icon-users">группа до 7 человек</p>
                </li>
                <li class="meta-list__item">
                  <p class="meta-list__text icon-pencil">
                    формат занятий по 2 занятия в неделю продолжительность 1 час
                  </p>
                </li>
                <li class="meta-list__item">
                  <p class="meta-list__text icon-book">
                    Учебные предметы: Математика, Естествознание, Искусство
                  </p>
                </li>
                <li class="meta-list__item">
                  <p class="meta-list__text icon-price">цена 6000 грн</p>
                </li>
                <li class="meta-list__item icon-calendar">
                  <input type="text" id="datepicker1" class="datepicker" />
                </li>
              </ul>
              <button class="btn">записаться</button>
            </div>
            <ul class="descr-list">
              <li class="description-item">
                <h4 class="icon-manuscript descr">описание курса</h4>
                <p class="descr__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Libero magni dignissimos reprehenderit, a saepe minus illo
                  corrupti tempora, sint, soluta provident ducimus ipsam debitis
                  sequi vitae dolorum quam iusto cum.
                </p>
              </li>
              <li class="description-item">
                <h4 class="icon-teacher descr">об учительнице</h4>
                <p class="descr__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Libero magni dignissimos reprehenderit, a saepe minus illo
                  corrupti tempora, sint, soluta provident ducimus ipsam debitis
                  sequi vitae dolorum quam iusto cum.
                </p>
              </li>
              <li class="description-item">
                <h4 class="icon-diploma descr">
                  обучающие результаты в конце курса
                </h4>
                <p class="descr__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Libero magni dignissimos reprehenderit, a saepe minus illo
                  corrupti tempora, sint, soluta provident ducimus ipsam debitis
                  sequi vitae dolorum quam iusto cum.
                </p>
              </li>
            </ul>
          </div>
        </article>
      </div>
    </main>
    <include src="./partials/footer.html"></include>

    <script src="../js/breadcrumbs.js" type="module"></script>
    <script src="../js/teacher-courses.js" type="module"></script>
    <script src="../js/current-children-course.js" type="module"></script>
    <script type="module" src="../js/mobMenu-nav.js"></script>
  </body>
</html>
