<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vixon School</title>
    <link rel="icon" href="../images/school.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../sass/main.scss" />
  </head>
  <body>
    <include src="./partials/header.html"></include>
    <main class="main">
      <div class="container base-container">
        <!-- ХЛЕБНЫЕ КРОШКИ -->
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="/" class="breadcrumbs__link">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a
              href="/src/partials/children-courses.html"
              class="breadcrumbs__link"
              >Категория курсов</a
            >
          </li>
          <li class="breadcrumbs__item">
            Исследуем солнечную систему через измерения
          </li>
        </ul>
        <section class="cur-course-section">
          <h1 class="page-subtitle">
            Исследуем солнечную систему через измерения
          </h1>
          <article class="course-card course-article">
            <div class="course-card__wrapper">
              <div class="top-content-box">
                <div class="course-img-box">
                  <img
                    src="../images/teachers-page/1.png"
                    alt="course image"
                    class="course-card__img"
                  />
                </div>
                <div class="meta-box">
                  <ul class="meta-list">
                    <li class="meta-list__item">
                      <p class="meta-list__text icon-clock">время 4 мес</p>
                    </li>
                    <li class="meta-list__item">
                      <p class="meta-list__text icon-flag">старт 17.09.22</p>
                    </li>
                    <li class="meta-list__item">
                      <p class="meta-list__text icon-users">
                        группа до 7 человек
                      </p>
                    </li>
                    <li class="meta-list__item">
                      <p class="meta-list__text icon-pencil">
                        формат занятий по 2 занятия в неделю продолжительность 1
                        час
                      </p>
                    </li>
                    <li class="meta-list__item">
                      <p class="meta-list__text icon-book">
                        Учебные предметы: Математика, Естествознание, Искусство
                      </p>
                    </li>
                    <li class="meta-list__item">
                      <p class="meta-list__text icon-price">цена 6000 грн</p>
                    </li>
                    <li class="meta-list__item icon-calendar">
                      <input type="text" id="datepicker1" class="datepicker" />
                    </li>
                  </ul>
                  <button class="btn" data-open-modal>записаться</button>
                </div>
              </div>
              <ul class="descr-list">
                <li class="description-item">
                  <h4 class="icon-manuscript descr">описание курса</h4>
                  <p class="descr__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Libero magni dignissimos reprehenderit, a saepe minus illo
                    corrupti tempora, sint, soluta provident ducimus ipsam
                    debitis sequi vitae dolorum quam iusto cum.
                  </p>
                </li>
                <li class="description-item">
                  <h4 class="icon-teacher descr">об учительнице</h4>
                  <p class="descr__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Libero magni dignissimos reprehenderit, a saepe minus illo
                    corrupti tempora, sint, soluta provident ducimus ipsam
                    debitis sequi vitae dolorum quam iusto cum.
                  </p>
                </li>
                <li class="description-item">
                  <h4 class="icon-diploma descr">
                    обучающие результаты в конце курса
                  </h4>
                  <p class="descr__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Libero magni dignissimos reprehenderit, a saepe minus illo
                    corrupti tempora, sint, soluta provident ducimus ipsam
                    debitis sequi vitae dolorum quam iusto cum.
                  </p>
                </li>
              </ul>
            </div>
          </article>

          <h2 class="subtitle-blocked">
            <span>Модули курса</span>
            <span class="page-subtitle__span">
              “Исследуем солнечную систему через измерения”
            </span>
          </h2>
          <div>
            <ol class="accordion">
              <li class="accordion__item">
                <div class="accordion__title-container acc-flex">
                  <h3 class="accordion__item-title">
                    Чтение книг на английском языке
                  </h3>
                  <span class="course-module">1-5 урока</span>
                </div>
                <ol class="accordion__text-container">
                  <li class="accordion__text">
                    Чтение книг на английском языке
                  </li>
                  <li class="accordion__text">
                    Чтение книг на английском языке
                  </li>
                  <li class="accordion__text">
                    Чтение книг на английском языке
                  </li>
                </ol>
              </li>
              <li class="accordion__item">
                <div class="accordion__title-container acc-flex">
                  <h3 class="accordion__item-title">
                    Практическое занятие на английском языке
                  </h3>
                  <span class="course-module">5-7 урока</span>
                </div>
                <ol class="accordion__text-container">
                  <li class="accordion__text">
                    Практическое занятие на английском языке
                  </li>
                  <li class="accordion__text">
                    Практическое занятие на английском языке
                  </li>
                  <li class="accordion__text">
                    Практическое занятие на английском языке
                  </li>
                </ol>
              </li>
              <li class="accordion__item">
                <div class="accordion__title-container acc-flex">
                  <h3 class="accordion__item-title">
                    Просмотр видео на английском языке
                  </h3>
                  <span class="course-module">7-9 урока</span>
                </div>
                <ol class="accordion__text-container">
                  <li class="accordion__text">
                    Просмотр видео на английском языке
                  </li>
                  <li class="accordion__text">
                    Просмотр видео на английском языке
                  </li>
                  <li class="accordion__text">
                    Просмотр видео на английском языке
                  </li>
                </ol>
              </li>
              <li class="accordion__item">
                <div class="accordion__title-container acc-flex">
                  <h3 class="accordion__item-title">
                    Просмотр видео на английском языке
                  </h3>
                  <span class="course-module">10-12 урока</span>
                </div>
                <ol class="accordion__text-container">
                  <li class="accordion__text">
                    Чтение книг на английском языке
                  </li>
                  <li class="accordion__text">
                    Чтение книг на английском языке
                  </li>
                  <li class="accordion__text">
                    Чтение книг на английском языке
                  </li>
                </ol>
              </li>
              <li class="accordion__item">
                <div class="accordion__title-container acc-flex">
                  <h3 class="accordion__item-title">
                    Просмотр видео на английском языке
                  </h3>
                  <span class="course-module">12-14 урока</span>
                </div>
                <ol class="accordion__text-container">
                  <li class="accordion__text">
                    Чтение книг на английском языке
                  </li>
                  <li class="accordion__text">
                    Чтение книг на английском языке
                  </li>
                  <li class="accordion__text">
                    Чтение книг на английском языке
                  </li>
                </ol>
              </li>
              <li class="accordion__item">
                <div class="accordion__title-container acc-flex">
                  <h3 class="accordion__item-title">
                    Чтение книг на английском языке
                  </h3>
                  <span class="course-module">14-16 урока</span>
                </div>
                <ol class="accordion__text-container">
                  <li class="accordion__text">
                    Чтение книг на английском языке
                  </li>
                  <li class="accordion__text">
                    Чтение книг на английском языке
                  </li>
                  <li class="accordion__text">
                    Чтение книг на английском языке
                  </li>
                </ol>
              </li>
            </ol>
          </div>
        </section>
        <section class="more-courses">
          <h2 class="subtitle">Другие курсы</h2>
          <ul class="children-courses-cardset courses-list">
            <li class="children-courses-card" id="course1">
              <a href="/src/partials/current-children-course.html">
                <img
                  src="../images/courses-card/4.png"
                  alt="course"
                  data-action="open"
              /></a>
              <div class="course-card-info">
                <div class="course-subinfo">
                  <p class="course-card-text" data-start>старт 17.09.22</p>
                  <p class="course-card-text" data-group>группа до 7 чел</p>
                  <p class="course-card-text" data-time>время 4 мес</p>
                  <p class="course-card-text" data-price>цена 6000 грн</p>
                </div>
                <h3 class="course-name" data-action="open">
                  <a
                    class="course-link"
                    href="/src/partials/current-children-course.html"
                    >Исследуем солнечную систему через измерения</a
                  >
                </h3>
              </div>
            </li>

            <li class="children-courses-card" id="course2">
              <a href="/src/partials/current-children-course.html">
                <img
                  src="../images/courses-card/5.png"
                  alt="course"
                  data-action="open"
              /></a>
              <div class="course-card-info">
                <div class="course-subinfo">
                  <p class="course-card-text" data-start>старт 17.09.22</p>
                  <p class="course-card-text" data-group>группа до 7 чел</p>
                  <p class="course-card-text" data-time>время 4 мес</p>
                  <p class="course-card-text" data-price>цена 6000 грн</p>
                </div>
                <h3 class="course-name" data-action="open">
                  <a
                    class="course-link"
                    href="/src/partials/current-children-course.html"
                    >Исследуем солнечную систему через измерения</a
                  >
                </h3>
              </div>
            </li>

            <li class="children-courses-card" data-action="hidden">
              <a href="/src/partials/current-children-course.html">
                <img
                  src="../images/courses-card/6.png"
                  alt="course"
                  data-action="open"
              /></a>
              <div class="course-card-info">
                <div class="course-subinfo">
                  <p class="course-card-text" data-start>старт 17.09.22</p>
                  <p class="course-card-text" data-group>группа до 7 чел</p>
                  <p class="course-card-text" data-time>время 4 мес</p>
                  <p class="course-card-text" data-price>цена 6000 грн</p>
                </div>
                <h3 class="course-name" data-action="open">
                  <a
                    class="course-link"
                    href="/src/partials/current-children-course.html"
                    >Исследуем солнечную систему через измерения</a
                  >
                </h3>
              </div>
            </li>
          </ul>
          <a href="./children-courses.html" class="secondary-btn ref-btn">
            Показать больше
          </a>
        </section>
        <include src="./partials/arr-up.html"></include>

        <include src="./partials/popup.html"> </include>
      </div>
    </main>
    <include src="./partials/footer.html"></include>

    <script type="module" src="../js/scroll-up-page.js"></script>
    <script src="../js/teacher-courses.js" type="module"></script>
    <script src="../js/current-children-course.js" type="module"></script>
    <script src="../js/mobMenu-nav.js" type="module"></script>
    <script src="../js/questions-accordion.js" type="module"></script>
    <script src="../js/modal.js" type="module"></script>
  </body>
</html>
