<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vixon School</title>
    <link rel="icon" href="../images/school.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../sass/main.scss" />
  </head>
  <body>
    <include src="./partials/header.html"></include>

    <main>
      <div class="container base-container">
        <!-- ХЛЕБНЫЕ КРОШКИ -->
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="/" class="breadcrumbs__link">Главная</a>
          </li>
          <li class="breadcrumbs__item">Вопросы</li>
        </ul>
        <h1 class="page-subtitle">Вопросы</h1>

        <ul class="accordion">
          <li class="accordion__item">
            <div class="accordion__title-container">
              <h3 class="accordion__item-title">
                Выясним как организм человека реагирует на стресс; как стресс
                влияет на когнитивнын функции
              </h3>
            </div>
            <div class="accordion__text-container">
              <p class="accordion__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus
                nisl, imperdiet quam odio vivamus. Id integer aliquam dolor
                aliquet arcu. Pellentesque tempus mauris varius lorem venenatis
                donec porta sit diam. Convallis duis tempus neque adipiscing
                ultrices egestas. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Lectus nisl, imperdiet quam odio vivamus. Id
                integer aliquam dolor aliquet arcu. Pellentesque
              </p>
            </div>
          </li>
          <li class="accordion__item">
            <div class="accordion__title-container">
              <h3 class="accordion__item-title">
                Выясним как организм человека реагирует на стресс; как стресс
                влияет на когнитивнын функции
              </h3>
            </div>
            <div class="accordion__text-container">
              <p class="accordion__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus
                nisl, imperdiet quam odio vivamus. Id integer aliquam dolor
                aliquet arcu. Pellentesque tempus mauris varius lorem venenatis
                donec porta sit diam. Convallis duis tempus neque adipiscing
                ultrices egestas. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Lectus nisl, imperdiet quam odio vivamus. Id
                integer aliquam dolor aliquet arcu. Pellentesque
              </p>
            </div>
          </li>
          <li class="accordion__item">
            <div class="accordion__title-container">
              <h3 class="accordion__item-title">
                Выясним как организм человека реагирует на стресс; как стресс
                влияет на когнитивнын функции
              </h3>
            </div>
            <div class="accordion__text-container">
              <p class="accordion__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus
                nisl, imperdiet quam odio vivamus. Id integer aliquam dolor
                aliquet arcu. Pellentesque tempus mauris varius lorem venenatis
                donec porta sit diam. Convallis duis tempus neque adipiscing
                ultrices egestas. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Lectus nisl, imperdiet quam odio vivamus. Id
                integer aliquam dolor aliquet arcu. Pellentesque
              </p>
            </div>
          </li>
          <li class="accordion__item">
            <div class="accordion__title-container">
              <h3 class="accordion__item-title">
                Выясним как организм человека реагирует на стресс; как стресс
                влияет на когнитивнын функции
              </h3>
            </div>
            <div class="accordion__text-container">
              <p class="accordion__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus
                nisl, imperdiet quam odio vivamus. Id integer aliquam dolor
                aliquet arcu. Pellentesque tempus mauris varius lorem venenatis
                donec porta sit diam. Convallis duis tempus neque adipiscing
                ultrices egestas. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Lectus nisl, imperdiet quam odio vivamus. Id
                integer aliquam dolor aliquet arcu. Pellentesque
              </p>
            </div>
          </li>
          <li class="accordion__item">
            <div class="accordion__title-container">
              <h3 class="accordion__item-title">
                Выясним как организм человека реагирует на стресс; как стресс
                влияет на когнитивнын функции
              </h3>
            </div>
            <div class="accordion__text-container">
              <p class="accordion__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus
                nisl, imperdiet quam odio vivamus. Id integer aliquam dolor
                aliquet arcu. Pellentesque tempus mauris varius lorem venenatis
                donec porta sit diam. Convallis duis tempus neque adipiscing
                ultrices egestas. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Lectus nisl, imperdiet quam odio vivamus. Id
                integer aliquam dolor aliquet arcu. Pellentesque
              </p>
            </div>
          </li>
          <li class="accordion__item">
            <div class="accordion__title-container">
              <h3 class="accordion__item-title">
                Выясним как организм человека реагирует на стресс; как стресс
                влияет на когнитивнын функции
              </h3>
            </div>
            <div class="accordion__text-container">
              <p class="accordion__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus
                nisl, imperdiet quam odio vivamus. Id integer aliquam dolor
                aliquet arcu. Pellentesque tempus mauris varius lorem venenatis
                donec porta sit diam. Convallis duis tempus neque adipiscing
                ultrices egestas. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Lectus nisl, imperdiet quam odio vivamus. Id
                integer aliquam dolor aliquet arcu. Pellentesque
              </p>
            </div>
          </li>
        </ul>
      </div>
    </main>

    <include src="./partials/footer.html"></include>

    <script type="module" src="../js/mobMenu-nav.js"></script>
    <script type="module" src="../js/questions-accordion.js"></script>
  </body>
</html>
