<form action="" class="feedback-form contacts-form">
  <h3 class="feedback-form__title">ФОРМА ЗВОРОТНЬОГО ЗВ’ЯЗКУ</h3>
  <div class="form-content-box">
    <div class="form-field">
      <input
        class="feedback-form__input"
        type="text"
        name="text"
        placeholder="Name"
      />
      <input
        class="feedback-form__input"
        type="number"
        name="phone"
        placeholder="Phone"
      />
      <input
        class="feedback-form__input"
        type="email"
        name="email"
        placeholder="Email"
      />

      <textarea
        class="feedback-form__comments"
        name="feedback"
        rows="8"
        placeholder="Enter your message here..."
      ></textarea>
    </div>
    <button type="submit" class="feedback-form__btn">Отправить</button>
  </div>
</form>
