<header class="header">
  <div class="container">
    <a href="../index.html" class="logo">
        <img class="logo-img" src="../images/logo.png" alt="Logo" > 
    </a>
    <nav class="nav">
      <ul class="nav-list list">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Про нас</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="./children-courses.html">Для дітей</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="./teacher-courses.html">Освітянам</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="./faq.html">FAQ</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="./contacts.html">Контакти</a>
        </li>
       </ul>
    </nav>
    <select class="lang-select" name="language">
        <option value="ua">UA</option>
        <option value="en">EN</option>
        <option value="ru">RU</option>
    </select>
    <div class="phone-box">
        <button class="callback-btn">Зворотній зв'язок</button>
        <a class="phone-link" href="tel:+88006592684">
            <svg  width="14px" height="14px">
                <use href="../images/phone.svg#icon-phone"></use>
            </svg>
        +8 (800) 659-2684
        </a>
    </div>
    
    <button class="nav-menu-btn">
    <svg class="menu" width="48px" height="24px" fill="grey">
      <use href="../images/menu.svg#icon-menu"></use> 
    </svg>
    </button>


     <!-- ----------HIDDEN MENU--------------- -->
     <div class="mob-menu is-hidden">
      <button class="mob-menu-closeBtn">
        <svg width="20" height="20">
          <use href="../images/mob-menu/close-icon.svg#close-icon"></use>
      </svg>
      </button>
      <ul class="mob-menu_list">
          <li class="mob-menu_item">
              <a class="mob-menu-link" href="../index.html">Про нас</a>
          </li>
          <li class="mob-menu_item">
              <a class="mob-menu-link" href="./children-courses.html">Для дітей</a>
          </li>
          <li class="mob-menu_item">
              <a class="mob-menu-link" href="./teacher-courses.html">Освітянам</a>
          </li>
          <li class="mob-menu_item">
              <a class="mob-menu-link" href="./faq.html">FAQ</a>
          </li>
          <li class="mob-menu_item">
              <a class="mob-menu-link" href="./contacts.html">Контакти</a>
          </li>
      </ul>
      <div class="mob-menu__telbox">
          <button class="callback-btn">Зворотній зв'язок</button>
          <a class="mob-menu-phone-link" href="tel:+88006592684">
              <svg width="16px" height="16px">
                  <use href="../images/phone.svg#icon-phone"></use>
              </svg>
              +38 (800) 659-2684
          </a>
      </div>
  </div>

</div>
  </header>