<section class="section hero">
  <div class="container hero-container">
    <div class="hero-content-box">
      <h1 class="title">Вітаємо в Vixon School</h1>
      <p class="hero-text">
        Lorem Ipsum has been the industry’s standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book.
      </p>
      <button class="btn">Записатись</button>
    </div>
    <img class="hero-img" src="./images/hero/hero-2x.png" alt="children" />
  </div>
</section>
