<div class="mob-menu is-hidden">
  <button class="mob-menu-closeBtn">
    <svg width="20" height="20">
      <use href="/src/images/mob-menu/close-icon.svg#close-icon"></use>
    </svg>
  </button>
  <ul class="mob-menu_list">
    <li class="mob-menu_item">
      <a class="mob-menu-link" href="/src/partials/about.html">Про нас</a>
    </li>
    <li class="mob-menu_item">
      <a class="mob-menu-link" href="/src/partials/children-courses.html"
        >Для дітей</a
      >
    </li>
    <li class="mob-menu_item">
      <a class="mob-menu-link" href="/src/partials/teacher-courses.html"
        >Освітянам</a
      >
    </li>
    <li class="mob-menu_item">
      <a class="mob-menu-link" href="/src/partials/faq.html">FAQ</a>
    </li>
    <li class="mob-menu_item">
      <a class="mob-menu-link" href="/src/partials/contacts.html">Контакти</a>
    </li>
  </ul>
  <div class="mob-menu__telbox">
    <button class="callback-btn">Зворотній зв'язок</button>
    <a class="mob-menu-phone-link" href="tel:+88006592684">
      <svg width="16px" height="16px">
        <use href="/src/images/phone.svg#icon-phone"></use>
      </svg>
      +38 (800) 659-2684
    </a>
  </div>
</div>
