<section class="reviews">
  <h2 class="subtitle">Отзывы</h2>
  <div class="container">
    <div class="content">
      <div class="slider responsive">
        <div class="review-item">
          <div class="reviewer-box">
            <img src="/src/images/review/review1.jpg" alt="reviewer photo" />
            <p class="reviewer-name">José Asueta</p>
          </div>
          <p class="review-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <span class="review-date">22.02.22</span>
        </div>
        <div class="review-item">
          <div class="reviewer-box">
            <img src="/src/images/review/review2.jpg" alt="reviewer photo" />
            <p class="reviewer-name">José Asueta</p>
          </div>
          <p class="review-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <span class="review-date">22.02.22</span>
        </div>
        <div class="review-item">
          <div class="reviewer-box">
            <img src="/src/images/review/review3.jpg" alt="reviewer photo" />
            <p class="reviewer-name">José Asueta</p>
          </div>
          <p class="review-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <span class="review-date">22.02.22</span>
        </div>
        <div class="review-item">
          <div class="reviewer-box">
            <img src="/src/images/review/review2.jpg" alt="reviewer photo" />
            <p class="reviewer-name">José Asueta</p>
          </div>
          <p class="review-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <span class="review-date">22.02.22</span>
        </div>
      </div>
    </div>
  </div>
</section>
