<section class="section post-about">
  <div class="container">
    <ul class="post-about-list">
      <li class="post-about-item">
        <img
          class="post-about-img"
          src="./images/post-about/online-learner.png"
        />
        <p class="postabout-text">7500</p>
        <p class="postabout-text">Online Learner</p>
      </li>
      <li class="post-about-item">
        <img
          class="post-about-img"
          src="./images/post-about/video-courses.png"
        />
        <p class="postabout-text">55</p>
        <p class="postabout-text">Video Courses</p>
      </li>
      <li class="post-about-item">
        <img
          class="post-about-img"
          src="./images/post-about/courses-syllabus.png"
        />
        <p class="postabout-text">1025</p>
        <p class="postabout-text">Courses & Syllabus</p>
      </li>
      <li class="post-about-item">
        <img
          class="post-about-img"
          src="./images/post-about/excellent-reviews.png"
        />
        <p class="postabout-text">3380</p>
        <p class="postabout-text">Excellent Reviews</p>
      </li>
    </ul>
  </div>
</section>
