<section class="about">
  <h2 class="subtitle">О нас</h2>
  <div class="container">
    <div class="hero-content-box">
      <h3 class="block-title">Vixon School</h3>
      <p class="about-text">
        Lorem Ipsum has been the industry’s standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book.
      </p>
      <p class="about-text">
        Lorem Ipsum has been the industry’s standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book.
      </p>
      <a class="btn" href="/src/partials/about.html">Узнать больше</a>
    </div>
    <div class="about-img-box">
      <img
        src="../src/images/about/about-img.png"
        alt="Girl & boy sitting at laptop"
      />
      <h3 class="img-description first"><span>12 133</span>студентов</h3>
      <h3 class="img-description second"><span>2018</span> lorem input</h3>
    </div>
  </div>
</section>
