<section class="section courses">
  <div class="container">
    <h2 class="subtitle">Категория курсов</h2>
    <ul class="courses-list">
      <li class="courses-item">
        <div class="courses-circle">
          <img
            src="./images/courses/boy sitting.png"
            alt="image 1-3 years old children courses"
          />
          <a class="courses-link" href="./partials/children-courses.html"
            >1-3 года</a
          >
        </div>
      </li>
      <li class="courses-item">
        <div class="courses-circle">
          <img
            src="./images/courses/boy riding.png"
            alt="image 4-6 years old children courses"
          />
          <a class="courses-link" href="./partials/children-courses.html"
            >4-6 лет</a
          >
        </div>
      </li>
      <li class="courses-item">
        <div class="courses-circle">
          <img
            src="./images/courses/boy with laptop.png"
            alt="image 7-9 years old children courses"
          />
          <a class="courses-link" href="./partials/children-courses.html"
            >7-9 лет</a
          >
        </div>
      </li>
      <li class="courses-item">
        <div class="courses-circle">
          <img
            src="./images/courses/young woman.png"
            alt="image 10-12 years old children courses"
          />
          <a class="courses-link" href="./partials/children-courses.html"
            >10-12 лет</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
