<section class="section courses">
  <div class="container">
    <h2 class="subtitle">Категорія курсів</h2>
    <ul class="courses-list">
      <li class="courses-item">
        <div class="courses-circle">
          <img src="./images/courses/boy sitting.png" />
          <div class="courses-category">1-3 років</div>
        </div>
      </li>
      <li class="courses-item">
        <div class="courses-circle">
          <img src="./images/courses/boy riding.png" />
          <div class="courses-category">4-6 років</div>
        </div>
      </li>
      <li class="courses-item">
        <div class="courses-circle">
          <img src="./images/courses/boy with laptop.png" />
          <div class="courses-category">7-9 років</div>
        </div>
      </li>
      <li class="courses-item">
        <div class="courses-circle">
          <img src="./images/courses/young woman.png" />
          <div class="courses-category">10-12 років</div>
        </div>
      </li>
    </ul>
  </div>
</section>
