<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vixon School</title>
    <link rel="icon" href="../images/school.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../sass/main.scss" />
  </head>
  <body>
    <include src="./partials/header.html"></include>

    <main class="main">
      <div class="container title-container">
        <!-- ХЛЕБНЫЕ КРОШКИ -->
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="/" class="breadcrumbs__link">Главная</a>
          </li>
          <li class="breadcrumbs__item">Тренинги для учителей</li>
        </ul>

        <h1 class="page-subtitle">Тренинги для учителей</h1>
      </div>
      <div class="container">
        <div class="course-cardset">
          <article class="course-card">
            <h3 class="course-card__title">
              Анатомия стресса: возрастные и поведенчиские особенности
            </h3>
            <div class="course-card__wrapper">
              <div class="img-box">
                <img
                  src="../images/teachers-page/1.png"
                  alt="course image"
                  class="course-card__img"
                />
                <button class="btn img-box__btn">Показать больше</button>
              </div>
              <div class="meta-box">
                <ul class="meta-list">
                  <li class="meta-list__item icon-clock">
                    <p class="meta-list__text">2 часа</p>
                  </li>
                  <li class="meta-list__item icon-flag">
                    <div class="meta-list__text-box">
                      <p class="meta-list__text">16.08 (вторник) 18:00</p>
                      <p class="meta-list__text">18.08 (четверг) 12:00</p>
                    </div>
                  </li>
                  <li class="meta-list__item icon-person">
                    <p class="meta-list__text">Виктория Лещенко</p>
                  </li>
                  <li class="meta-list__item icon-pencil">
                    <p class="meta-list__text">
                      Тип повышение квалификации: вебинар
                    </p>
                  </li>
                  <li class="meta-list__item icon-book">
                    <p class="meta-list__text">
                      Форма повышение квалификации: online
                    </p>
                  </li>
                  <li class="meta-list__item icon-price">
                    <p class="meta-list__text">цена 6000 грн</p>
                  </li>
                  <li class="meta-list__item icon-calendar">
                    <input type="text" id="datepicker1" class="datepicker" />
                  </li>
                </ul>
                <button class="btn teacher-courses-card-btn">
                  Узнать больше
                </button>
              </div>
              <div class="description description-box">
                <h4 class="description__title">краткое описание</h4>
                <p class="description__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Libero magni dignissimos reprehenderit, a saepe minus illo
                  corrupti tempora, sint, soluta provident ducimus ipsam debitis
                  sequi vitae dolorum quam iusto cum.
                </p>
              </div>
            </div>
          </article>
          <article class="course-card">
            <h3 class="course-card__title">
              Анатомия стресса: возрастные и поведенчиские особенности
            </h3>
            <div class="course-card__wrapper">
              <div class="img-box">
                <img
                  src="../images/teachers-page/2.png"
                  alt="course image"
                  class="course-card__img"
                />
                <button class="btn img-box__btn">Показать больше</button>
              </div>
              <div class="meta-box">
                <ul class="meta-list">
                  <li class="meta-list__item icon-clock">
                    <p class="meta-list__text">2 часа</p>
                  </li>
                  <li class="meta-list__item icon-flag">
                    <div class="meta-list__text-box">
                      <p class="meta-list__text">16.08 (вторник) 18:00</p>
                      <p class="meta-list__text">18.08 (четверг) 12:00</p>
                    </div>
                  </li>
                  <li class="meta-list__item icon-person">
                    <p class="meta-list__text">Виктория Лещенко</p>
                  </li>
                  <li class="meta-list__item icon-pencil">
                    <p class="meta-list__text">
                      Тип повышение квалификации: вебинар
                    </p>
                  </li>
                  <li class="meta-list__item icon-book">
                    <p class="meta-list__text">
                      Форма повышение квалификации: online
                    </p>
                  </li>
                  <li class="meta-list__item icon-price">
                    <p class="meta-list__text">цена 6000 грн</p>
                  </li>
                  <li class="meta-list__item icon-calendar">
                    <input type="text" id="datepicker2" class="datepicker" />
                  </li>
                </ul>
                <button class="btn teacher-courses-card-btn">
                  Узнать больше
                </button>
              </div>
              <div class="description description-box">
                <h4 class="description__title">краткое описание</h4>
                <p class="description__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Libero magni dignissimos reprehenderit, a saepe minus illo
                  corrupti tempora, sint, soluta provident ducimus ipsam debitis
                  sequi vitae dolorum quam iusto cum.
                </p>
              </div>
            </div>
          </article>
          <article class="course-card">
            <h3 class="course-card__title">
              Анатомия стресса: возрастные и поведенчиские особенности
            </h3>
            <div class="course-card__wrapper">
              <div class="img-box">
                <img
                  src="../images/teachers-page/3.png"
                  alt="course image"
                  class="course-card__img"
                />
                <button class="btn img-box__btn">Показать больше</button>
              </div>
              <div class="meta-box">
                <ul class="meta-list">
                  <li class="meta-list__item icon-clock">
                    <p class="meta-list__text">2 часа</p>
                  </li>
                  <li class="meta-list__item icon-flag">
                    <div class="meta-list__text-box">
                      <p class="meta-list__text">16.08 (вторник) 18:00</p>
                      <p class="meta-list__text">18.08 (четверг) 12:00</p>
                    </div>
                  </li>
                  <li class="meta-list__item icon-person">
                    <p class="meta-list__text">Виктория Лещенко</p>
                  </li>
                  <li class="meta-list__item icon-pencil">
                    <p class="meta-list__text">
                      Тип повышение квалификации: вебинар
                    </p>
                  </li>
                  <li class="meta-list__item icon-book">
                    <p class="meta-list__text">
                      Форма повышение квалификации: online
                    </p>
                  </li>
                  <li class="meta-list__item icon-price">
                    <p class="meta-list__text">цена 6000 грн</p>
                  </li>
                  <li class="meta-list__item icon-calendar">
                    <input type="text" id="datepicker3" class="datepicker" />
                  </li>
                </ul>
                <button class="btn teacher-courses-card-btn">
                  Узнать больше
                </button>
              </div>
              <div class="description description-box">
                <h4 class="description__title">краткое описание</h4>
                <p class="description__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Libero magni dignissimos reprehenderit, a saepe minus illo
                  corrupti tempora, sint, soluta provident ducimus ipsam debitis
                  sequi vitae dolorum quam iusto cum.
                </p>
              </div>
            </div>
          </article>
          <article class="course-card">
            <h3 class="course-card__title">
              Анатомия стресса: возрастные и поведенчиские особенности
            </h3>
            <div class="course-card__wrapper">
              <div class="img-box">
                <img
                  src="../images/teachers-page/4.png"
                  alt="course image"
                  class="course-card__img"
                />
                <button class="btn img-box__btn">Показать больше</button>
              </div>
              <div class="meta-box">
                <ul class="meta-list">
                  <li class="meta-list__item icon-clock">
                    <p class="meta-list__text">2 часа</p>
                  </li>
                  <li class="meta-list__item icon-flag">
                    <div class="meta-list__text-box">
                      <p class="meta-list__text">16.08 (вторник) 18:00</p>
                      <p class="meta-list__text">18.08 (четверг) 12:00</p>
                    </div>
                  </li>
                  <li class="meta-list__item icon-person">
                    <p class="meta-list__text">Виктория Лещенко</p>
                  </li>
                  <li class="meta-list__item icon-pencil">
                    <p class="meta-list__text">
                      Тип повышение квалификации: вебинар
                    </p>
                  </li>
                  <li class="meta-list__item icon-book">
                    <p class="meta-list__text">
                      Форма повышение квалификации: online
                    </p>
                  </li>
                  <li class="meta-list__item icon-price">
                    <p class="meta-list__text">цена 6000 грн</p>
                  </li>
                  <li class="meta-list__item icon-calendar">
                    <input type="text" id="datepicker4" class="datepicker" />
                  </li>
                </ul>
                <button class="btn teacher-courses-card-btn">
                  Узнать больше
                </button>
              </div>
              <div class="description description-box">
                <h4 class="description__title">краткое описание</h4>
                <p class="description__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Libero magni dignissimos reprehenderit, a saepe minus illo
                  corrupti tempora, sint, soluta provident ducimus ipsam debitis
                  sequi vitae dolorum quam iusto cum.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </main>

    <include src="./partials/footer.html"></include>

    <script src="../js/breadcrumbs.js" type="module"></script>
    <script src="../js/teacher-courses.js" type="module"></script>
    <script type="module" src="../js/mobMenu-nav.js"></script>
  </body>
</html>
