<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vixon School</title>
    <link rel="icon" href="../images/school.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../sass/main.scss" />
  </head>
  <body>
    <include src="./partials/header.html"></include>

    <main>
      <h1 class="main-title">Teachers Courses</h1>
    </main>

    <include src="./partials/footer.html"></include>
  </body>
</html>
