<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vixon School</title>
    <link rel="icon" href="../images/school.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../sass/main.scss" />
  </head>
  <body>
    <include src="./partials/header.html"></include>

    <main>
      <div class="container title-container">
        <p class="page-route-name">
          <span>Головна /</span> Тренінги для вчителів
        </p>
        <h1 class="page-subtitle">Тренінги для вчителів</h1>
      </div>
      <div class="container">
        <div class="course-cardset">
          <article class="course-card">
            <h3 class="course-card__title">
              Анатомія стресу: вікові та поведінкові особливості
            </h3>
            <div class="course-card__wrapper">
              <div class="img-box">
                <img
                  src="../images/teachers-page/1.png"
                  alt="course image"
                  class="course-card__img"
                />
                <button class="btn img-box__btn">Показати більше</button>
              </div>
              <div class="meta-box">
                <ul class="meta-list">
                  <li class="meta-list__item icon-clock">
                    <p class="meta-list__text">2 год (0,06 кредиту ЄКТС)</p>
                  </li>
                  <li class="meta-list__item icon-flag">
                    <p class="meta-list__text">16.08 (вівторок) 18:00</p>
                    <p class="meta-list__text">18.08 (четвер) 12:00</p>
                  </li>
                  <li class="meta-list__item icon-person">
                    <p class="meta-list__text">Вікторія Лещенко</p>
                  </li>
                  <li class="meta-list__item icon-pencil">
                    <p class="meta-list__text">
                      Тип підвищення кваліфікації: вебінар
                    </p>
                  </li>
                  <li class="meta-list__item icon-book">
                    <p class="meta-list__text">
                      Форма підвищення кваліфікації: online
                    </p>
                  </li>
                  <li class="meta-list__item icon-price">
                    <p class="meta-list__text">ціна 6000 грн</p>
                  </li>
                  <li class="meta-list__item icon-calendar">
                    <input type="text" id="datepicker" class="datepicker" />
                  </li>
                </ul>
                <button class="btn">Дізнатися більше</button>
              </div>
              <div class="description description-box">
                <h4 class="description__title">короткий опис</h4>
                <p class="description__text">
                  Під час вебінару з’ясуємо як організм людини реагує на стрес;
                  як стрес впливає на когнітивні функції мозку та як різні типи
                  стресу впливають на процес навчання дітей дошкільного й
                  молодшого шкільного віку; розглянемо шляхи подолання
                  негативних наслідків стресу.
                </p>
              </div>
            </div>
          </article>
          <article class="course-card">
            <h3 class="course-card__title">
              Анатомія стресу: вікові та поведінкові особливості
            </h3>
            <div class="course-card__wrapper">
              <div class="img-box">
                <img
                  src="../images/teachers-page/2.png"
                  alt="course image"
                  class="course-card__img"
                />
                <button class="btn img-box__btn">Показати більше</button>
              </div>
              <div class="meta-box">
                <ul class="meta-list">
                  <li class="meta-list__item icon-clock">
                    <p class="meta-list__text">2 год (0,06 кредиту ЄКТС)</p>
                  </li>
                  <li class="meta-list__item icon-flag">
                    <p class="meta-list__text">16.08 (вівторок) 18:00</p>
                    <p class="meta-list__text">18.08 (четвер) 12:00</p>
                  </li>
                  <li class="meta-list__item icon-person">
                    <p class="meta-list__text">Вікторія Лещенко</p>
                  </li>
                  <li class="meta-list__item icon-pencil">
                    <p class="meta-list__text">
                      Тип підвищення кваліфікації: вебінар
                    </p>
                  </li>
                  <li class="meta-list__item icon-book">
                    <p class="meta-list__text">
                      Форма підвищення кваліфікації: online
                    </p>
                  </li>
                  <li class="meta-list__item icon-price">
                    <p class="meta-list__text">ціна 6000 грн</p>
                  </li>
                  <li class="meta-list__item icon-calendar">
                    <input type="text" id="datepicker" class="datepicker" />
                  </li>
                </ul>
                <button class="btn">Дізнатися більше</button>
              </div>
              <div class="description description-box">
                <h4 class="description__title">короткий опис</h4>
                <p class="description__text">
                  Під час вебінару з’ясуємо як організм людини реагує на стрес;
                  як стрес впливає на когнітивні функції мозку та як різні типи
                  стресу впливають на процес навчання дітей дошкільного й
                  молодшого шкільного віку; розглянемо шляхи подолання
                  негативних наслідків стресу.
                </p>
              </div>
            </div>
          </article>
          <article class="course-card">
            <h3 class="course-card__title">
              Анатомія стресу: вікові та поведінкові особливості
            </h3>
            <div class="course-card__wrapper">
              <div class="img-box">
                <img
                  src="../images/teachers-page/3.png"
                  alt="course image"
                  class="course-card__img"
                />
                <button class="btn img-box__btn">Показати більше</button>
              </div>
              <div class="meta-box">
                <ul class="meta-list">
                  <li class="meta-list__item icon-clock">
                    <p class="meta-list__text">2 год (0,06 кредиту ЄКТС)</p>
                  </li>
                  <li class="meta-list__item icon-flag">
                    <p class="meta-list__text">16.08 (вівторок) 18:00</p>
                    <p class="meta-list__text">18.08 (четвер) 12:00</p>
                  </li>
                  <li class="meta-list__item icon-person">
                    <p class="meta-list__text">Вікторія Лещенко</p>
                  </li>
                  <li class="meta-list__item icon-pencil">
                    <p class="meta-list__text">
                      Тип підвищення кваліфікації: вебінар
                    </p>
                  </li>
                  <li class="meta-list__item icon-book">
                    <p class="meta-list__text">
                      Форма підвищення кваліфікації: online
                    </p>
                  </li>
                  <li class="meta-list__item icon-price">
                    <p class="meta-list__text">ціна 6000 грн</p>
                  </li>
                  <li class="meta-list__item icon-calendar">
                    <input type="text" id="datepicker" class="datepicker" />
                  </li>
                </ul>
                <button class="btn">Дізнатися більше</button>
              </div>
              <div class="description description-box">
                <h4 class="description__title">короткий опис</h4>
                <p class="description__text">
                  Під час вебінару з’ясуємо як організм людини реагує на стрес;
                  як стрес впливає на когнітивні функції мозку та як різні типи
                  стресу впливають на процес навчання дітей дошкільного й
                  молодшого шкільного віку; розглянемо шляхи подолання
                  негативних наслідків стресу.
                </p>
              </div>
            </div>
          </article>
          <article class="course-card">
            <h3 class="course-card__title">
              Анатомія стресу: вікові та поведінкові особливості
            </h3>
            <div class="course-card__wrapper">
              <div class="img-box">
                <img
                  src="../images/teachers-page/4.png"
                  alt="course image"
                  class="course-card__img"
                />
                <button class="btn img-box__btn">Показати більше</button>
              </div>
              <div class="meta-box">
                <ul class="meta-list">
                  <li class="meta-list__item icon-clock">
                    <p class="meta-list__text">2 год (0,06 кредиту ЄКТС)</p>
                  </li>
                  <li class="meta-list__item icon-flag">
                    <p class="meta-list__text">16.08 (вівторок) 18:00</p>
                    <p class="meta-list__text">18.08 (четвер) 12:00</p>
                  </li>
                  <li class="meta-list__item icon-person">
                    <p class="meta-list__text">Вікторія Лещенко</p>
                  </li>
                  <li class="meta-list__item icon-pencil">
                    <p class="meta-list__text">
                      Тип підвищення кваліфікації: вебінар
                    </p>
                  </li>
                  <li class="meta-list__item icon-book">
                    <p class="meta-list__text">
                      Форма підвищення кваліфікації: online
                    </p>
                  </li>
                  <li class="meta-list__item icon-price">
                    <p class="meta-list__text">ціна 6000 грн</p>
                  </li>
                  <li class="meta-list__item icon-calendar">
                    <input type="text" id="datepicker" class="datepicker" />
                  </li>
                </ul>
                <button class="btn">Дізнатися більше</button>
              </div>
              <div class="description description-box">
                <h4 class="description__title">короткий опис</h4>

                <p class="description__text">
                  Під час вебінару з’ясуємо як організм людини реагує на стрес;
                  як стрес впливає на когнітивні функції мозку та як різні типи
                  стресу впливають на процес навчання дітей дошкільного й
                  молодшого шкільного віку; розглянемо шляхи подолання
                  негативних наслідків стресу.
                </p>
              </div>
            </div>
          </article>
        </div>

        <!-- Pagination -->
        <!-- <div id="data-container"></div>
        <div id="pagination-container"></div> -->
      </div>
    </main>

    <include src="./partials/footer.html"></include>

    <!-- <script type="module" src="../js/teacher-courses.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script> -->
    <script src="../js/pagination.js"></script>
  </body>
</html>
