.breadcrumbs {
  display: flex;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.breadcrumbs__link {
  display: inline-block;
  color: #6bbc60;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $accentBtnColor;
  }
}

.breadcrumbs__item:last-child {
  color: #0b221c;
}

.breadcrumbs__item .breadcrumbs__link,
.breadcrumbs__item:last-child {
  font-size: 16px;
  font-weight: 600;
  line-height: 135%;
  padding: 8px 0;
}

.breadcrumbs__link::after {
  content: ' /';
  display: inline-block;
  padding: 0 4px;
}
