.header{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $headerBackground;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    display: none;
    margin-left:auto;
    @media screen and (min-width: 768px) {
        display: block;
      }
}


.nav-list{
    display: flex;
}

.logo-img{
    min-width: 60px;
    min-height: 60px;
}

.nav-item + .nav-item{
    margin-left: 48px;
}

.nav-link{
    color: $darkTextColor;
    font-size: 16px;
    
}

.lang-select{
    margin-left: 48px;
    border: none;
    color: $darkTextColor;
    font-size: 16px;
}

.phone-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
}

.callback-btn{
    display: flex;
    min-width: 180px;
    min-height: 28px;
    padding: 14px;
    margin-bottom: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 4px;
    background: $footerBackground;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    color: $lightTextColor;
    font-size: 10px;
    font-family: Nunito Sans;
    font-weight: 700;
}


.phone-link{
    color: $darkTextColor;
    font-size: 14px;
    font-weight: 700;
    font-family: Nunito Sans;
}

