.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: $headerBackground;
}

.logo {
  scale: 1;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    scale: 1.03;
  }
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.mob-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  overflow: auto;

  width: 100vw;
  height: 100vh;
  z-index: 10;

  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 15px;
  background-color: #f4fff6;

  &.is-hidden {
    display: none;
  }
}
.mob-menu-closeBtn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: inherit;
  border: none;
}

.icon-close {
  fill: #0b221c;
  opacity: 0.8;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-closeBtn:hover .icon-close,
.mob-menu-closeBtn:focus .icon-close {
  fill: $secondaryAccentBtnColor;
  opacity: 1;
}

.mob-menu_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.mob-menu_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  scale: 1;
  transition: scale 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    scale: 1.1;
  }
}

.mob-menu_item::after {
  content: '.';
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-top: 8px;
  border-radius: 50%;
  background-color: #0b221c;
  opacity: 0.8;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu_item:hover::after,
.mob-menu_item:focus::after {
  background-color: $secondaryAccentBtnColor;
  opacity: 1;
}

.mob-menu_item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-link {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #0b221c;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu_item:hover .mob-menu-link,
.mob-menu_item:focus .mob-menu-link {
  color: $secondaryAccentBtnColor;
}

.nav {
  display: none;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.nav-list {
  display: flex;
}

.logo-img {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 68px;
    height: 60px;
  }
}

.nav-item + .nav-item {
  margin-left: 24px;
  @media screen and (min-width: 1200px) {
    margin-left: 48px;
  }
}

.nav-item {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
}

.nav-link {
  color: $darkTextColor;
  font-size: 14px;
  font-weight: 600;
  font-family: Nunito Sans;
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.nav-link::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: #6bbc60;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover .nav-link::after,
.nav-item:focus .nav-link::after {
  transform: scaleX(1);
}

// .lang-select {
//   border: none;
//   color: $darkTextColor;
//   font-size: 16px;
//   font-weight: 500;

//   @media screen and (min-width: 768px) {
//     margin-left: 24px;
//   }
//   @media screen and (min-width: 1200px) {
//     margin-left: 42px;
//     font-size: 16px;
//   }
// }

.phone-box {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 24px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 60px;
  }
}

.callback-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 28px;
  margin-bottom: 12px;

  border-radius: 4px;
  background-color: $footerBackground;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  color: $lightTextColor;
  font-size: 10px;
  font-family: Nunito Sans;
  font-weight: 700;
  border: none;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1200px) {
    width: 180px;
  }

  &:hover,
  &:focus {
    background-color: #6bbc60;
  }
}

.phone-box > .phone-link {
  color: $darkTextColor;
  fill: $darkTextColor;
  font-size: 12px;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #6bbc60;
    fill: #6bbc60;
  }
}

.mob-menu-phone-link {
  color: $darkTextColor;
  font-size: 16px;
  margin: 0 auto;
}

.mob-menu__telbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mob-menu__telbox > .callback-btn {
  width: 180px;
  padding: 16px;
  font-size: 12px;
  margin-bottom: 16px;
}

.nav-menu-btn {
  background-color: inherit;
  border: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu {
  fill: #0b221c;
  opacity: 0.5;
  scale: 1;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-btn:hover .menu {
  fill: $secondaryAccentBtnColor;
  opacity: 1;
  scale: 1.02;
}
