.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100000;
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 1160px;
  padding: 24px;
  border-radius: 8px;

  box-shadow: 0px 0px 54px 0px rgba(16, 64, 15, 0.31);

  background-image: url('../images/modal/Background.png');
  background-repeat: no-repeat;
  //   background-position: top 10% right 0;
  background-color: #f4fff6;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding: 60px 48px;
  }
}

.modal-title {
  @extend .form-title;

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  border: none;

  fill: #0b221c;
  opacity: 0.5;
  background-color: #0000;

  cursor: pointer;
  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
  }
}

.modal__btn + .modal__btn {
  @media screen and (min-width: 768px) {
    margin-left: 32px;
  }
}

.modal__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 0;
  }
}

.icon-close {
  width: 16px;
  height: 16px;
  @media screen and (min-width: 1200px) {
    width: 32px;
    height: 32px;
  }
}
