.certificate-reviews {
  position: relative;
  background-image: url('../images/certificate/certificate-bg.png');
  background-repeat: no-repeat;
}

.certificate {
  padding-top: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 160px;
  }
}

.certificate > .subtitle {
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;

  @media screen and (min-width: 768px) {
    gap: 20px 28px;
  }

  @media screen and (min-width: 1200px) {
    gap: 12px 28px;
  }
}
